header:
  version: 14.0.0
init:
  component:
    live-tv-stream-1:
      data: io/github/enzanki-ars/live-tv/watch/1/proxyurl
      mode: hls-video-unmuted
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: fade-in
        pos-x: 1
        pos-w: 39
        pos-y: 5
        pos-h: 22
    live-tv-stream-1-channel:
      data: io/github/enzanki-ars/live-tv/watch/1/channel_num
      style:
        bg: 90-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: fade-in
        pos-x: 1
        pos-w: 6
        pos-y: 26
        pos-h: 1
    live-tv-stream-1-title:
      data: io/github/enzanki-ars/live-tv/watch/1/channel_info/name
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: fade-in
        pos-x: 7
        pos-w: 32
        pos-y: 26
        pos-h: 1
{% for stream_i in range(2,7) %}
    live-tv-stream-{{stream_i}}:
      data: io/github/enzanki-ars/live-tv/watch/{{stream_i}}/proxyurl
      mode: hls-video{% if (stream_i|int) == 1 %}-unmuted{% endif %}
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: fade-in
        pos-x: 40
        pos-w: 9
        pos-y: {{ ((stream_i-2)*5) + 2 }}
        pos-h: 5
    live-tv-stream-{{stream_i}}-channel:
      data: io/github/enzanki-ars/live-tv/watch/{{stream_i}}/channel_num
      style:
        bg: 90-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: fade-in
        pos-x: 40
        pos-w: 4
        pos-y: {{ ((stream_i-2)*5) + 6 }}
        pos-h: 1
    live-tv-stream-{{stream_i}}-title:
      data: io/github/enzanki-ars/live-tv/watch/{{stream_i}}/channel_info/name
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: fade-in
        pos-x: 44
        pos-w: 5
        pos-y: {{ ((stream_i-2)*5) + 6 }}
        pos-h: 1
{% endfor %}
  layer:
{% for stream_i in range(1,7) %}
    live-tv-stream-{{stream_i}}:
      components: live-tv-stream-{{stream_i}}-channel,live-tv-stream-{{stream_i}}-title,live-tv-stream-{{stream_i}}
      aspect: 16x9
{% endfor %}
  overlay:
    live-tv-stream:
      layers: {% for stream_i in range(6, 0, -1) %}live-tv-stream-{{stream_i}},{% endfor %}
