header:
  version: 14.0.0

{%

set selected_franklin_races = [
    {
        'title': 'Hilliard City Council',
        'id': 11,
        'choices': 6,
        'x': 2,
        'y': 4,
        'title_size': 2,
        'title_text_size': '1_25-pad',
        'regular_size': '1_5',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'show',
        'do_math': True
    },
    {
        'title': 'Hilliard Board of Education',
        'id': 127,
        'choices': 4,
        'x': 2,
        'y': 17,
        'title_size': 2,
        'title_text_size': '1_25-pad',
        'regular_size': '1_5',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'show',
        'do_math': True
    },
    {
        'title': 'Columbus Mayor',
        'id': 16,
        'choices': 2,
        'x': 18,
        'y': 4,
        'title_size': 1,
        'title_text_size': '1',
        'regular_size': '1',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'hide',
        'do_math': False
    },
    {
        'title': 'Norwich Township Trustee',
        'id': 98,
        'choices': 2,
        'x': 18,
        'y': 8,
        'title_size': 1,
        'title_text_size': '1',
        'regular_size': '1',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'hide',
        'do_math': False
    },
    {
        'title': 'Norwich Township Fiscal Officer',
        'id': 99,
        'choices': 2,
        'x': 18,
        'y': 12,
        'title_size': 1,
        'title_text_size': '1',
        'regular_size': '1',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'hide',
        'do_math': False
    },
    {
        'title': 'Columbus City Council (District 2)',
        'id': 18,
        'choices': 2,
        'x': 34,
        'y': 4,
        'title_size': 1,
        'title_text_size': '1',
        'regular_size': '1',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'hide',
        'do_math': False
    },
    {
        'title': 'Columbus City Council (District 4)',
        'id': 20,
        'choices': 2,
        'x': 34,
        'y': 8,
        'title_size': 1,
        'title_text_size': '1',
        'regular_size': '1',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'hide',
        'do_math': False
    },
    {
        'title': 'Columbus City Council (District 5)',
        'id': 21,
        'choices': 2,
        'x': 34,
        'y': 12,
        'title_size': 1,
        'title_text_size': '1',
        'regular_size': '1',
        'regular_text_size': '1',
        'percent_size': '1',
        'vote_size': '_5',
        'show_votes': 'hide',
        'do_math': False
    },
]

%}
{%

set selected_franklin_bars = [
    {
        'title': '#16 CML Tax Levy',
        'id': 156,
        'x': 18,
        'y': 23,
        'w': 14
    },
]

%}
{%

set selected_ohio_bars = [
    {
        'title': 'Issue 1',
        'id': '_03225D9CE04B444AE0633390EE0A5E03',
        'x': 18,
        'y': 17,
        'w': 14
    },
    {
        'title': 'Issue 2',
        'id': '_03225D9D10BA444AE0633390EE0A5E03',
        'x': 18,
        'y': 20,
        'w': 14
    },
]

%}

init:
  component:
    vote-title:
      data: gov/frankincounty/vote/labels/title
      style:
        bg: 90-black
        display: show
        pos-x: 17
        pos-w: 16
        pos-h: "1_5-pad_5"
        pos-y: 1
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: center
    franklin-county-vote-reporting-number:
      data: gov/frankincounty/vote/current_election_turnout/percent
      mode: postfix-percent-sign-round-2
      style:
        bg: 80-black
        display: show
        pos-x: 2
        pos-w: 4
        pos-h: 1
        pos-y: 2
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: left
    franklin-county-vote-reporting-label:
      data: gov/frankincounty/vote/labels/reporting
      mode: raw
      style:
        bg: 80-black
        display: show
        pos-x: 6
        pos-w: 11
        pos-h: 1
        pos-y: 2
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: left
    franklin-county-vote-update-time:
      data: gov/frankincounty/vote/last_update_time
      mode: raw
      style:
        bg: 80-black
        display: show
        pos-x: 2
        pos-w: 15
        pos-h: "_5-bottom"
        pos-y: 1
        border-top-left-radius: "_5"
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        text-align: left
    ohio-vote-reporting-number:
      data: gov/ohiosos/live_results/precints_reporting_precent
      mode: postfix-percent-sign-round-2
      style:
        bg: 80-black
        display: show
        pos-x: 44
        pos-w: 4
        pos-h: 1
        pos-y: 2
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: right
    ohio-vote-reporting-label:
      data: gov/ohiosos/live_results/labels/reporting
      mode: raw
      style:
        bg: 80-black
        display: show
        pos-x: 33
        pos-w: 11
        pos-h: 1
        pos-y: 2
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: right
    ohio-vote-update-time:
      data: gov/ohiosos/live_results/last_update_time
      mode: raw
      style:
        bg: 80-black
        display: show
        pos-x: 33
        pos-w: 15
        pos-h: "_5-bottom"
        pos-y: 1
        border-top-right-radius: "_5"
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        text-align: right
{% for race in selected_franklin_races %}
    franklin-county-vote-race{{race['id']}}-title:
      data: gov/frankincounty/vote/labels/races/{{race['id']}}
      style:
        bg: 90-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 14
        pos-h: '{{ race['title_size'] }}'
        pos-y: {{ race['y'] }}
        border-top-left-radius: "1"
        border-top-right-radius: "1"
        text-color: white
        text-size: "{{ race['title_text_size'] }}"
        text-style: bold
{% for choice in range(0, race['choices']) %}
    franklin-county-vote-race{{race['id']}}-choice{{choice}}-name:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/name
      style:
        bg: 80-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 10
        pos-h: '{{ race['regular_size'] }}{{ ('-pad_5' if (choice % 2) else '') if race['do_math'] else '' }}'
        pos-y: {{ race['y'] + ((choice*2) + (1 if (choice % 2) else 2) - (choice // 2) if race['do_math'] else choice + race['title_size']) }}
        text-color: white
        text-size: "{{race['regular_text_size']}}"
        text-style: bold
        text-align: left
    franklin-county-vote-race{{race['id']}}-choice{{choice}}-percent:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/percent
      mode: postfix-percent-sign-round-2
      style:
        bg: 70-black
        display: show
        pos-x: {{ race['x'] + 10 }}
        pos-w: 4
        pos-h: '{{ race['percent_size'] }}{{ ('-pad_5' if (choice % 2) else '') if race['do_math'] else '' }}'
        pos-y: {{ race['y'] + ((choice*2) + (1 if (choice % 2) else 2) - (choice // 2) if race['do_math'] else choice + race['title_size']) }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: right
    franklin-county-vote-race{{race['id']}}-choice{{choice}}-votes:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/votes
      mode: text
      style:
        bg: 60-black
        display: {{ race['show_votes'] }}
        pos-x: {{ race['x'] + 10 }}
        pos-w: 4
        pos-h: '{{ race['vote_size'] }}{{ ('-bottom' if (choice % 2) else '') if race['do_math'] else '' }}'
        pos-y: {{ race['y'] + ((choice*2) + (1 if (choice % 2) else 2) - (choice // 2) if race['do_math'] else choice + race['title_size']) + 1 }}
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        text-align: right
{% endfor %}
{% endfor %}


{% for race in selected_franklin_bars %}
    franklin-county-vote-bar{{race['id']}}-title:
      data: gov/frankincounty/vote/labels/races/{{race['id']}}
      style:
        bg: 90-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] }}
        text-color: white
        text-size: "1"
        text-style: bold
        border-top-left-radius: "1"
        border-top-right-radius: "1"
    franklin-county-vote-bar{{race['id']}}-bg:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/empty
      style:
        bg: 80-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: 1
        text-style: bold
        text-align: left
    franklin-county-vote-bar{{race['id']}}-opt1-bar:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/0/percent
      mode: length-bar-100-blue
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
    franklin-county-vote-bar{{race['id']}}-opt1-name:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/0/name_short
      mode: text
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 2
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: left
    franklin-county-vote-bar{{race['id']}}-opt1-midpoint:
      data: gov/frankincounty/vote/labels/midpoint
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: center
    franklin-county-vote-bar{{race['id']}}-opt1-percent:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/0/percent
      mode: postfix-percent-sign-round-2
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] + 2 }}
        pos-w: {{ race['w'] - 2 }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: left
{% endfor %}
{% for race in selected_ohio_bars %}
    ohio-vote-bar{{race['id']}}-title:
      data: gov/ohiosos/live_results/labels/races/{{race['id']}}
      style:
        bg: 90-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] }}
        border-top-left-radius: "1"
        border-top-right-radius: "1"
        text-color: white
        text-size: "1"
        text-style: bold
    ohio-vote-bar{{race['id']}}-bg:
      data: gov/ohiosos/live_results/contests/{{race['id']}}/empty
      style:
        bg: 80-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: 1
        text-style: bold
        text-align: left
    ohio-vote-bar{{race['id']}}-opt1-bar:
      data: gov/ohiosos/live_results/contests/{{race['id']}}/canidates/0/vote_percent
      mode: length-bar-100-blue
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
    ohio-vote-bar{{race['id']}}-opt1-name:
      data: gov/ohiosos/live_results/contests/{{race['id']}}/canidates/0/name
      mode: text
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 2
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: left
    ohio-vote-bar{{race['id']}}-opt1-percent:
      data: gov/ohiosos/live_results/contests/{{race['id']}}/canidates/0/vote_percent
      mode: postfix-percent-sign-round-2
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] + 2 }}
        pos-w: {{ race['w'] - 2 }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: left
    ohio-vote-bar{{race['id']}}-opt1-midpoint:
      data: gov/ohiosos/live_results/labels/midpoint
      style:
        bg: clear
        display: show
        pos-x: {{ race['x'] }}
        pos-w: {{ race['w'] }}
        pos-h: 1
        pos-y: {{ race['y'] + 1 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: center
{% endfor %}
  data:
    gov/frankincounty/vote/labels:
      title: 2023 General Election Live Results
      midpoint: ⬩
      reporting: Franklin County Reporting
      races:
{% for race in selected_franklin_races %}
        {{ race['id'] }}: "{{ race['title'] }}"
{% endfor %}
{% for race in selected_franklin_bars %}
        {{ race['id'] }}: "{{ race['title'] }}"
{% endfor %}
    gov/ohiosos/live_results/labels:
      reporting: Ohio Reporting
      midpoint: ⬩
      races:  
{% for race in selected_ohio_bars %}
        {{ race['id'] }}: "{{ race['title'] }}"
{% endfor %}
  layer:
    20231107-general-label-layer:
      components: vote-title,franklin-county-vote-reporting-number,franklin-county-vote-update-time,franklin-county-vote-reporting-label,ohio-vote-reporting-number,ohio-vote-reporting-label,ohio-vote-update-time
      display: show
      aspect: 16x9
    20231107-general-franklin-county-vote-layer:
      components: {% for race in selected_franklin_races %}franklin-county-vote-race{{race['id']}}-title,{% for choice in range(0, race['choices']) %}franklin-county-vote-race{{race['id']}}-choice{{choice}}-name,franklin-county-vote-race{{race['id']}}-choice{{choice}}-percent,franklin-county-vote-race{{race['id']}}-choice{{choice}}-votes,{% endfor %}{% endfor %}
      display: show
      aspect: 16x9
    20231107-general-franklin-county-bar-layer:
      components: "{% for race in selected_franklin_bars %}franklin-county-vote-bar{{race['id']}}-title,franklin-county-vote-bar{{race['id']}}-bg,franklin-county-vote-bar{{race['id']}}-opt1-bar,franklin-county-vote-bar{{race['id']}}-opt1-name,franklin-county-vote-bar{{race['id']}}-opt1-midpoint,franklin-county-vote-bar{{race['id']}}-opt1-percent,{% endfor %}"
      display: show
      aspect: 16x9
    20231107-general-ohio-bar-layer:
      components: "{% for race in selected_ohio_bars %}ohio-vote-bar{{race['id']}}-title,ohio-vote-bar{{race['id']}}-bg,ohio-vote-bar{{race['id']}}-opt1-bar,ohio-vote-bar{{race['id']}}-opt1-name,ohio-vote-bar{{race['id']}}-opt1-midpoint,ohio-vote-bar{{race['id']}}-opt1-percent,{% endfor %}"
      display: show
      aspect: 16x9
  overlay:
    20231107-general:
      display: show
      aspect: 16x9
      layers: 20231107-general-label-layer,20231107-general-franklin-county-vote-layer,20231107-general-franklin-county-bar-layer,20231107-general-ohio-bar-layer
