header:
  version: 14.0.0

{%

set selected_races = [
    {
        'id': 5,
        'choices': 7,
        'x': 2,
        'y': 2,
    },
    {
        'id': 94,
        'choices': 8,
        'x': 30,
        'y': 2,
    },
]

%}

init:
  component:
    franklin-county-vote-big-reporting-number:
      data: gov/frankincounty/vote/current_election_turnout/percent
      mode: postfix-percent-sign-round-2
      style:
        bg: 90-black
        display: show
        pos-x: 21
        pos-w: 8
        pos-h: 2
        pos-y: 2
        text-color: white
        text-size: "2"
        text-style: bold
    franklin-county-vote-big-reporting-label:
      data: gov/frankincounty/vote/labels/reporting
      mode: raw
      style:
        bg: 90-black
        display: show
        pos-x: 21
        pos-w: 8
        pos-h: 1
        pos-y: 4
        text-color: white
        text-size: "1"
        text-style: bold
{% for race in selected_races %}
    franklin-county-vote-big-race{{race['id']}}-title:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/name
      style:
        bg: 90-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 18
        pos-h: 2
        pos-y: {{ race['y'] }}
        text-color: white
        text-size: "1_5"
        text-style: bold
{% for choice in range(0, race['choices']) %}
    franklin-county-vote-big-race{{race['id']}}-choice{{choice}}-name:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/name
      style:
        bg: 80-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 13
        pos-h: 3
        pos-y: {{ race['y'] + (choice*3) + 2 }}
        text-color: white
        text-size: "1_5"
        text-style: bold
        text-align: left
    franklin-county-vote-big-race{{race['id']}}-choice{{choice}}-percent:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/percent
      mode: postfix-percent-sign-round-2
      style:
        bg: 70-black
        display: show
        pos-x: {{ race['x'] + 13 }}
        pos-w: 5
        pos-h: 2
        pos-y: {{ race['y'] + (choice*3) + 2 }}
        text-color: white
        text-size: "1_5"
        text-style: bold
        text-align: right
    franklin-county-vote-big-race{{race['id']}}-choice{{choice}}-votes:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/votes
      mode: text
      style:
        bg: 70-black
        display: show
        pos-x: {{ race['x'] + 13 }}
        pos-w: 5
        pos-h: 1
        pos-y: {{ race['y'] + (choice*3) + 2 + 2 }}
        text-color: white
        text-size: "1"
        text-style: bold
        text-align: right
{% endfor %}
{% endfor %}
  data:
    gov/frankincounty/vote/labels:
      reporting: Precincts Reporting
  layer:
    franklin-county-vote-big-layer:
      components: franklin-county-vote-big-reporting-number,franklin-county-vote-big-reporting-label,{% for race in selected_races %}franklin-county-vote-big-race{{race['id']}}-title,{% for choice in range(0, race['choices']) %}franklin-county-vote-big-race{{race['id']}}-choice{{choice}}-name,franklin-county-vote-big-race{{race['id']}}-choice{{choice}}-percent,franklin-county-vote-big-race{{race['id']}}-choice{{choice}}-votes,{% endfor %}{% endfor %}
      display: show
      aspect: 16x9
  overlay:
    franklin-county-vote-big:
      display: show
      aspect: 16x9
      layers: franklin-county-vote-big-layer
