header:
  version: 14.0.0

{% set status_items = get_data_value('data/io/github/enzanki-ars/status/entries').split(',') %}

init:
  component:
{% for status_item in status_items %}
    enzanki-ars-home-status-{{status_item}}-icon:
      data: io/github/enzanki-ars/status/{{status_item}}/icon
      mode: svg
      style:
        bg: black
        display: show
        pos-x: {{ 3 + ((loop.index0 // 3) * 2) }}
        pos-w: 1
        pos-y: {{ 24 + (loop.index0 % 3) }}
        pos-h: 1
        border-top-left-radius: {{ 1 if loop.index0 == 0 else 0 }}
        border-bottom-left-radius: {{ 1 if ((loop.index0 % 3) == 2 and (loop.index0 // 3) == 0) else 0 }}
        image-correction: on
        text-align: center
        text-color: white
        text-size: "_1-3-no-pad"
        text-style: bold
    enzanki-ars-home-status-{{status_item}}-status:
      data: io/github/enzanki-ars/status/{{status_item}}/status/icon
      custom-style: io/github/enzanki-ars/status/{{status_item}}/status/bg_css
      mode: icon-font
      style:
        bg: black
        display: show
        pos-x: {{ 4 + ((loop.index0 // 3) * 2) }}
        pos-w: 1
        pos-y: {{ 24 + (loop.index0 % 3) }}
        pos-h: 1
        border-top-right-radius: {{ 1 if ((loop.index0 % 3) == 0 and (loop.index0 // 3) == ((status_items | length - 1) // 3)) else 0 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
    enzanki-ars-home-status-padding:
      data: io/github/enzanki-ars/blank
      style:
        bg: 90-black
        display: show
        pos-x: 3
        pos-w: 36
        pos-y: 25
        pos-h: 2
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 1
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
  layer:
    enzanki-ars-home-status:
      components: enzanki-ars-home-status-padding,{% for status_item in status_items %}enzanki-ars-home-status-{{status_item}}-icon,enzanki-ars-home-status-{{status_item}}-status,{% endfor %}
      aspect: 16x9
