@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$ratios: ("16x9": ("w": 16, "h": 9, "s": 3),
  "16x9-sm": ("w": 16, "h": 9, "s": 4),
  "1x1": ("w": 1, "h": 1, "s": 3 * 10),
  "4x3": ("w": 4, "h": 3, "s": 9),
  "9x16": ("w": 9, "h": 16, "s": 2));

$max_w: 16 * 4;
$max_h: 9 * 4;


@each $ratio_name,
$ratio_info in $ratios {
  $ratio_w: map-get($ratio_info, "w");
  $ratio_h: map-get($ratio_info, "h");
  $ratio_s: map-get($ratio_info, "s");

  [data-sg-aspect="#{$ratio_name}"] {
    --ratio-w: #{$ratio_w};
    --ratio-h: #{$ratio_h};
    --ratio-s: #{$ratio_s};
    --ratio-cols: calc(var(--ratio-w) * var(--ratio-s));
    --ratio-rows: calc(var(--ratio-h) * var(--ratio-s));
  }
}

body {
  overflow: hidden;
}

.event {
  background-color: black;
  color: white;
  animation: fade-in 0.5s ease;
  transition: all 0.5s ease;
  display: inline-flex;
  align-self: center;
  float: right;
  clear: right;

  padding-right: 0.5em;
  padding-left: 0.5em;

  border-radius: 0.5em;

  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;

  font-size: calc((75vh/var(--ratio-rows)) * 1);
  line-height: calc((97.5vh/var(--ratio-rows)) * 1);

  margin-top: calc((2.5vh/var(--ratio-rows)) * 1);
  margin-bottom: calc((2.5vh/var(--ratio-rows)) * 1)
}

.event img {
  max-height: calc((75vh/var(--ratio-rows)));
  margin-bottom: calc((75vh/var(--ratio-rows)) * .15);
  margin-top: calc((75vh/var(--ratio-rows)) * .15);
  margin-left: calc((75vh/(var(--ratio-rows)*3)));
  margin-right: calc((75vh/(var(--ratio-rows)*3)));
  vertical-align: bottom;

  height: calc((75vh/var(--ratio-rows)));
}

.event svg {
  max-height: calc((75vh/var(--ratio-rows)));
  margin-bottom: calc((75vh/var(--ratio-rows)) * .15);
  margin-top: calc((75vh/var(--ratio-rows)) * .15);
  margin-left: calc((75vh/(var(--ratio-rows)*3)));
  margin-right: calc((75vh/(var(--ratio-rows)*3)));
  vertical-align: bottom;

  height: calc((75vh/var(--ratio-rows))) !important;
}

#alert_overlay {
  position: float;
  top: 0px;
  right: 0px;
  z-index: 9999;
  transition: all 0.5s ease;

  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 2.5vh;
  margin-right: 2.5vh;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}