header:
  version: 14.0.0
init:
  component:
{% set player_stat_start = 20 %}

{% for player in [1,2,3,5,6,7] %}
    rl-gsi-dv-player-{{player}}-name:
      data: com/rocketleague/gsi/data/players/{{player}}/name
      custom-style: com/rocketleague/gsi/data/players/{{player}}/color_primary/dark_css
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 7
        pos-x: {{ player_stat_start + 0 }}
        pos-y: {{ loop.index0 + 30 }}
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-dv-player-{{player}}-boost:
      data: com/rocketleague/gsi/data/players/{{player}}/boost
      mode: rl-boost-total
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 6
        pos-x: {{ player_stat_start + 7 }}
        pos-y: {{ loop.index0 + 30 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-dv-player-{{player}}-boost-text:
      data: com/rocketleague/gsi/data/players/{{player}}/boost
      mode: postfix-percent-sign
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 6
        pos-x: {{ player_stat_start + 7 }}
        pos-y: {{ loop.index0 + 30 }}
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
{% set outer_loop = loop %}
{% for stat in ['score','goals','assists','shots','saves','demos','touches','cartouches'] %}
    rl-gsi-dv-player-{{player}}-{{stat}}:
      data: com/rocketleague/gsi/data/players/{{player}}/{{stat}}
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 3
        pos-x: {{ loop.index0 * 3 + player_stat_start + 13 }}
        pos-y: {{ outer_loop.index0 + 30 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% endfor %}

    rl-gsi-dv-stat-boost-label:
      data: com/rocketleague/text/label/boost
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 6
        pos-x: {{ player_stat_start + 7 }}
        pos-y: 29
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% for stat in ['score','goals','assists','shots','saves','demos'] %}
    rl-gsi-dv-stat-{{stat}}-label:
      data: com/rocketleague/text/label/{{stat}}
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 3
        pos-x: {{ loop.index0 * 3 + player_stat_start + 13 }}
        pos-y: 29
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% for stat in ['touches','cartouches'] %}
    rl-gsi-dv-stat-{{stat}}-label:
      data: com/rocketleague/text/label/{{stat}}
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 3
        pos-x: {{ loop.index0 * 3 + player_stat_start + 31 }}
        pos-y: 29
        text-align: center
        text-color: white
        text-size: _5
        text-style: bold
{% endfor %}

  layer:
{% for player in [1,2,3,5,6,7] %}
    rl-gsi-dv-{{player}}: 
      components: rl-gsi-dv-player-{{player}}-name,rl-gsi-dv-player-{{player}}-boost,rl-gsi-dv-player-{{player}}-boost-text,{% for stat in ['score','goals','assists','shots','saves','demos','touches','cartouches'] %}rl-gsi-dv-player-{{player}}-{{stat}},{% endfor %}
      display: show
      aspect: 16x9-sm
{% endfor %}
    rl-gsi-dv-stat-labels: 
      components: rl-gsi-dv-stat-boost-label,{% for stat in ['score','goals','assists','shots','saves','demos','touches','cartouches'] %}rl-gsi-dv-stat-{{stat}}-label,{% endfor %}
      display: show
      aspect: 16x9-sm
