header:
  version: 14.0.0
init:
{% set x_start = 33 %}
{% set y_start = 4 %}
{% set y_start2 = 25 %}
  component:
    rl-gsi-postgame-custom-home-logo:
      data: edu/osu/org/osubgc/scoreboard/logo/home
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css
      mode: image
      style:
        bg: osu-scarlet
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ x_start - 6 }}
        pos-w: 2
        pos-y: "{{ y_start + 0 }}_5"
        pos-h: 3
        text-size: "_5-no-pad"
        text-align: center
        image-correction: "on"
    rl-gsi-postgame-custom-home-name:
      data: edu/osu/org/osubgc/scoreboard/name/home
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css
      style:
        bg: osu-scarlet
        text-color: white
        text-style: bold
        border-top-left-radius: 2
        border-bottom-left-radius: 2
        skew: none
        display: show
        pos-x: {{ x_start - 6 - 22 }}
        pos-w: 22
        pos-y: "{{ y_start + 0 }}_5"
        pos-h: 3
        text-size: "1_5-pad-_75"
        text-align: right
    rl-gsi-postgame-custom-home-score-bg:
      data: edu/osu/org/osubgc/scoreboard/wins-needed
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css
      mode: open-score-half
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start - 4 }}
        pos-w: 8
        pos-y: {{ y_start + 0 }}
        pos-h: "_5-bottom"
        text-size: _5
        text-align: left
    rl-gsi-postgame-custom-home-score:
      data: edu/osu/org/osubgc/scoreboard/score/home
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css_nobg
      mode: filled-score-half
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-bottom-left-radius: 0
        border-top-left-radius: 0
        border-top-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start - 4 }}
        pos-w: 8
        pos-y: {{ y_start + 0 }}
        pos-h: "_5-bottom"
        text-size: _5
        text-align: left
    rl-gsi-postgame-custom-away-logo:
      data: edu/osu/org/osubgc/scoreboard/logo/away
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css
      mode: image
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start + 4 }}
        pos-w: 2
        pos-y: "{{ y_start + 0 }}_5"
        pos-h: 3
        text-size: "_5-no-pad"
        text-align: center
        image-correction: "on"
    rl-gsi-postgame-custom-away-name:
      data: edu/osu/org/osubgc/scoreboard/name/away
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-top-right-radius: 2
        border-bottom-right-radius: 2
        skew: none
        display: show
        pos-x: {{ x_start + 6 }}
        pos-w: 22
        pos-y: "{{ y_start + 0 }}_5"
        pos-h: 3
        text-size: "1_5-pad-_75"
        text-align: left
    rl-gsi-postgame-custom-away-score-bg:
      data: edu/osu/org/osubgc/scoreboard/wins-needed
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css
      mode: open-score-half
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start - 4 }}
        pos-w: 8
        pos-y: {{ y_start + 3 }}
        pos-h: "_5"
        text-size: _5
        text-align: right
    rl-gsi-postgame-custom-away-score:
      data: edu/osu/org/osubgc/scoreboard/score/away
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css_nobg
      mode: filled-score-half
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start - 4 }}
        pos-w: 8
        pos-y: {{ y_start + 3 }}
        pos-h: "_5"
        text-size: _5
        text-align: right

    rl-gsi-postgame-custom-title:
      data: edu/osu/org/osubgc/scoreboard/title
      style:
        bg: dark-grey
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: hide
        pos-x: 21
        pos-w: 8
        pos-y: 4
        pos-h: 1
        text-size: 1
        text-align: center

    rl-gsi-postgame-team0-score:
      data: com/rocketleague/gsi/data/game/teams/0/score
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/css
      style:
        bg: 90-black
        display: show
        pos-h: 2
        pos-w: 2
        pos-x: {{ x_start - 4 }}
        pos-y: {{ y_start + 1 }}
        text-align: center
        text-color: white
        text-size: 2
        text-style: bold
    rl-gsi-postgame-team1-score:
      data: com/rocketleague/gsi/data/game/teams/1/score
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/css
      style:
        bg: 90-black
        display: show
        pos-h: 2
        pos-w: 2
        pos-x: {{ x_start + 2 }}
        pos-y: {{ y_start + 1 }}
        text-align: center
        text-color: white
        text-size: 2
        text-style: bold
    rl-gsi-postgame-clock:
      data: com/rocketleague/gsi/extra/time
      style:
        bg: 80-black
        display: show
        pos-h: 2
        pos-w: 4
        pos-x: {{ x_start - 2 }}
        pos-y: {{ y_start + 1 }}
        text-align: center
        text-color: white
        text-size: 2
        text-style: bold

    rl-gsi-postgame-match-stats-header:
      data: com/rocketleague/text/label/match-stats
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start - 6 }}
        pos-y: {{ y_start2 + 0 }}
        border-top-left-radius: 1
        border-top-right-radius: 1
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% for stat in ['goals', 'shots', 'saves', 'demos'] %}
    rl-gsi-postgame-match-stats-{{stat}}-label:
      data: com/rocketleague/text/label/{{stat}}  
      style:
        bg: 70-black
        display: show
        pos-h: 1
        pos-w: 6
        pos-x: {{ x_start - 3 }}
        pos-y: {{ loop.index0 + y_start2 + 1 }}
        border-top-left-radius: 0
        border-top-right-radius: 0
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% set outer_loop = loop %}
{% for team in [0,1] %}
    rl-gsi-postgame-team{{team}}-{{stat}}:
      data: com/rocketleague/gsi/extra/teams/{{team}}/{{stat}}
      custom-style: com/rocketleague/gsi/extra/teams/{{team}}/color_primary/dark_css
      style:
        bg: 90-black
        display: show
        pos-h: 1
        pos-w: 3
        pos-x: {{ x_start - 6 + team * 9 }}
        pos-y: {{ outer_loop.index0 + y_start2 + 1 }}
        border-bottom-left-radius: {% if team %}0{% else %}{{ outer_loop.last | int }}{% endif %}
        border-bottom-right-radius: {% if team %}{{ outer_loop.last | int * team }}{% else %}0{% endif %}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% endfor %}

{% for stat in ['pressure', 'possession'] %}
    rl-gsi-postgame-{{stat}}-label:
      data: com/rocketleague/text/label/team-{{stat}}
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + ((loop.index0 * 2 - 1) * 14 - 6) }}
        pos-y: {{ y_start2 + 0 }}
        border-top-left-radius: 1
        border-top-right-radius: 1
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-postgame-{{stat}}-meaning:
      data: com/rocketleague/text/label/team-{{stat}}-meaning
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + ((loop.index0 * 2 - 1) * 14 - 6) }}
        pos-y: {{ y_start2 + 7 }}
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        text-align: center
        text-color: white
        text-size: _2-3
        text-style: bold
    rl-gsi-postgame-chart-{{stat}}:
      data: com/rocketleague/charts/chart-{{stat}}
      custom-options: com/rocketleague/charts/chart-{{stat}}-parameters
      mode: chart-line-teams-fixed-100
      style:
        bg: 90-black
        display: show
        pos-h: 4
        pos-w: 12
        pos-x: {{ x_start + ((loop.index0 * 2 - 1) * 14 - 6) }}
        pos-y: {{ y_start2 + 3 }}
        text-color: white
        text-size: 1
        text-style: bold
{% set outer_loop = loop %}
{% for team in [0,1] %}
    rl-gsi-postgame-{{stat}}-team{{team}}:
      data: com/rocketleague/gsi/extra/teams/{{team}}/{{stat}}/time_100
      mode: rl-boost-total-{% if team == 0 %}home{%else%}away{%endif%}
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + ((outer_loop.index0 * 2 - 1) * 14 - 6) }}
        pos-y: {{ y_start2 + 1 + team }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-postgame-{{stat}}-team{{team}}-name:
      data: edu/osu/org/osubgc/scoreboard/name-short/{% if team %}away{%else%}home{%endif%}
      mode: text
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + ((outer_loop.index0 * 2 - 1) * 14 - 6) }}
        pos-y: {{ y_start2 + 1 + team }}
        text-align: left
        text-color: white
        text-size: _2-3
        text-style: bold
    rl-gsi-postgame-{{stat}}-team{{team}}-label:
      data: com/rocketleague/gsi/extra/teams/{{team}}/{{stat}}/time_percent_text
      mode: postfix-percent-sign
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + ((outer_loop.index0 * 2 - 1) * 14 - 6) }}
        pos-y: {{ y_start2 + 1 + team }}
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% endfor %}

  layer:
    rl-gsi-postgame-score: 
      components: rl-gsi-postgame-team0-score,rl-gsi-postgame-team1-score,rl-gsi-postgame-clock
      display: show
      aspect: 16x9-sm
    rl-gsi-postgame-match-stats: 
      components: rl-gsi-postgame-match-stats-header,{% for stat in ['goals', 'shots', 'saves', 'demos'] %}rl-gsi-postgame-match-stats-{{stat}}-label,{% for team in [0,1] %}rl-gsi-postgame-team{{team}}-{{stat}},{% endfor %}{% endfor %}
      display: show
      aspect: 16x9-sm
{% for stat in ['pressure', 'possession', 'boost_advantage'] %}
    rl-gsi-postgame-{{stat}}: 
      components: rl-gsi-postgame-{{stat}}-label,{% for team in [0,1] %}rl-gsi-postgame-{{stat}}-team{{team}},rl-gsi-postgame-{{stat}}-team{{team}}-name,rl-gsi-postgame-{{stat}}-team{{team}}-label,rl-gsi-postgame-{{stat}}-meaning,rl-gsi-postgame-chart-{{stat}},{% endfor %}
      display: show
      aspect: 16x9-sm
{% endfor %}
    rl-gsi-postgame-teams:
      components: rl-gsi-postgame-custom-title,rl-gsi-postgame-custom-home-logo,rl-gsi-postgame-custom-home-name,rl-gsi-postgame-custom-home-score-bg,rl-gsi-postgame-custom-home-score,rl-gsi-postgame-custom-away-logo,rl-gsi-postgame-custom-away-name,rl-gsi-postgame-custom-away-score-bg,rl-gsi-postgame-custom-away-score
      display: show
      aspect: 16x9-sm
  overlay:
    rl-gsi-postgame-overview:
      layers: rl-gsi-postgame-bg-layer,rl-gsi-postgame-score,rl-gsi-postgame-teams,rl-gsi-postgame-match-stats,{% for stat in ['pressure', 'possession'] %}rl-gsi-postgame-{{stat}},{% endfor %},rl-gsi-postgame-teams
      display: show
