header:
  version: 14.0.0
init:
  component:
{% set player_stat_start_x = 7 %}
{% set player_stat_start_y = 9 %}

{% for player in [1,2,3,5,6,7] %}
    rl-gsi-postgame-player-{{player}}-name:
      data: com/rocketleague/gsi/data/players/{{player}}/name
      custom-style: com/rocketleague/gsi/data/players/{{player}}/color_primary/dark_css
      style:
        bg: black
        display: show
        border-top-left-radius: {{ 2 if player in [1,5] else 0 }}
        border-bottom-left-radius: {{ 2 if player in [3,7] else 0 }}
        pos-h: 2
        pos-w: 14
        pos-x: {{ player_stat_start_x + 0 }}
        pos-y: {{ (loop.index0 * 2) + player_stat_start_y + (0 if player < 5 else 2 ) }}
        text-align: center
        text-color: white
        text-size: "1_5"
        text-style: bold
{% set outer_loop = loop %}
{% for stat in ['goals','assists','shots','saves','demos'] %}
    rl-gsi-postgame-player-{{player}}-{{stat}}:
      data: com/rocketleague/gsi/data/players/{{player}}/{{stat}}
      custom-css: com/rocketleague/gsi/data/players/{{player}}/stats_css/{{stat}}
      style:
        bg: black
        display: show
        border-top-right-radius: {{ 2 if player == 1 and stat == 'demos' else 0 }}
        border-bottom-right-radius: {{ 2 if player == 7 and stat == 'demos' else 0 }}
        pos-h: 2
        pos-w: 8
        pos-x: {{ player_stat_start_x + 14 + (loop.index0 * 8) }}
        pos-y: {{ (outer_loop.index0 * 2) + player_stat_start_y + (0 if player < 5 else 2 ) }}
        text-align: center
        text-color: white
        text-size: "1_5"
        text-style: bold
{% endfor %}
{% endfor %}
{% for stat in ['goals','assists','shots','saves','demos'] %}
    rl-gsi-postgame-stat-{{stat}}-label:
      data: com/rocketleague/text/label/{{stat}}
      style:
        bg: dark-violet
        display: show
        pos-h: 2
        pos-w: 8
        pos-x: {{ player_stat_start_x + 14 + (loop.index0 * 8) }}
        pos-y: {{ player_stat_start_y + 6 }}
        text-align: center
        text-color: white
        text-size: "1_5"
        text-style: bold
{% set outer_loop = loop %}
{% endfor %}

  layer:
{% for player in [1,2,3,5,6,7] %}
    rl-gsi-postgame-{{player}}: 
      components: rl-gsi-postgame-player-{{player}}-name,{% for stat in ['goals','assists','shots','saves','demos'] %}rl-gsi-postgame-player-{{player}}-{{stat}},{% endfor %}
      display: show
      aspect: 16x9-sm
{% endfor %}
    rl-gsi-postgame-stat-labels: 
      components: {% for stat in ['goals','assists','shots','saves','demos'] %}rl-gsi-postgame-stat-{{stat}}-label,{% endfor %}
      display: show
      aspect: 16x9-sm
  overlay:
    rl-gsi-postgame: 
      layers: rl-gsi-postgame-stat-labels,{% for player in [1,2,3,5,6,7] %}rl-gsi-postgame-{{player}},{%endfor%},rl-gsi-postgame-bg-layer,rl-gsi-postgame-score,rl-gsi-postgame-teams,rl-gsi-postgame-match-stats,{% for stat in ['pressure', 'possession'] %}rl-gsi-postgame-{{stat}},{% endfor %},rl-gsi-postgame-teams
      display: show
