header:
  version: 14.0.0
init:
  component:
{% set num_display = {"completed": 2, "upcoming": 2, "stream": 1} %}
{% set start_locs_y = {"completed": 3, "upcoming": 11, "stream": 19} %}

{% for type in num_display.keys() %}
    smashgg-sidebar-{{type}}-title:
      data: gg/smash/smashgg/labels/state/{{type}}
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        skew: none
        display: show
        pos-x: 2
        pos-w: 7
        pos-y: {{start_locs_y[type] - 1}}
        pos-h: 1
        text-size: _2-3
        text-align: center
{% for slot in range(0, num_display[type]) %}
    smashgg-sidebar-{{type}}-slot-{{slot}}-title:
      data: gg/smash/smashgg/tournament/sets/cycle/{{type}}/{{slot}}/round_name
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 2
        pos-w: 7
        pos-y: {{start_locs_y[type] + (slot * 3) + 0}}
        pos-h: _5-bottom
        text-size: _5-no-pad
        text-align: center
{% for player in range(0, 2) %}
    smashgg-sidebar-{{type}}-slot-{{slot}}-p{{player + 1}}-seed:
      data: gg/smash/smashgg/tournament/sets/cycle/{{type}}/{{slot}}/p{{player + 1}}/seed_str
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: {{ player }}
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 2
        pos-w: 1
        pos-y: {{start_locs_y[type] + (slot * 3) + player + 1}}
        pos-h: 1
        text-size: _2-3
        text-align: center
    smashgg-sidebar-{{type}}-slot-{{slot}}-p{{player + 1}}-name:
      data: gg/smash/smashgg/tournament/sets/cycle/{{type}}/{{slot}}/p{{player + 1}}/name
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 5
        pos-y: {{start_locs_y[type] + (slot * 3) + player + 1}}
        pos-h: 1
        text-size: _2-3
        text-align: left
    smashgg-sidebar-{{type}}-slot-{{slot}}-p{{player + 1}}-score:
      data: gg/smash/smashgg/tournament/sets/cycle/{{type}}/{{slot}}/p{{player + 1}}/score
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: {{ player }}
        skew: none
        display: show
        pos-x: 8
        pos-w: 1
        pos-y: {{start_locs_y[type] + (slot * 3) + player + 1}}
        pos-h: 1
        text-size: 1
        text-align: center
{% endfor %}
{% endfor %}
{% endfor %}
  data:
    gg/smash/smashgg/labels/state:
      completed: "Completed"
      upcoming: "In Progress/Upcoming"
      stream: "Next on Stream"
  layer:
    smashgg-sidebar-layer:
      components: {% for type in num_display.keys() %}smashgg-sidebar-{{type}}-title,{% for slot in range(0, num_display[type]) %}smashgg-sidebar-{{type}}-slot-{{slot}}-title,{% for player in range(0, 2) %}smashgg-sidebar-{{type}}-slot-{{slot}}-p{{player + 1}}-seed,smashgg-sidebar-{{type}}-slot-{{slot}}-p{{player + 1}}-name,smashgg-sidebar-{{type}}-slot-{{slot}}-p{{player + 1}}-score,{% endfor %}{% endfor %}{% endfor %}
      display: show
      aspect: 16x9
  overlay:
    smashgg-sidebar:
      display: show
      aspect: 16x9
      layers: smashgg-sidebar-layer
