header:
  version: 14.0.0
{% set incars = [{"car": "2"}, {"car": "3"}, {"car": "5"}, {"car": "7"}, {"car": "9"}, {"car": "15"}, {"car": "20"}, {"car": "26"}, {"car": "27"}, {"car": "28"}, {"car": "30"}, {"car": "45"}, {"car": "48"}, {"car": "06"}] %}
init:
  component:
{% for car in incars %}
    indycar-incar-all-{{car['car']}}-video:
      data: com/indycar/streams/{{loop.index}}/liveurl
      mode: hls-video
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 0 }}
        pos-w: 16
        pos-y: {{ (loop.index0 // 4) * 9 + 1 }}
        pos-h: 9
    indycar-incar-all-{{car['car']}}-pos:
      data: com/indycar/ts_ws/raw/overallResults/{{car['car']}}/rank
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 0 }}
        pos-w: 1
        pos-y: {{ (loop.index0 // 4) * 9 + 8 }}
        pos-h: _2-3-bottom
    indycar-incar-all-{{car['car']}}-carnum:
      data: com/indycar/drivers/{{car['car']}}/endplatesmall
      mode: image
      style:
        bg: 50-black
        text-align: center
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 1 }}
        pos-w: 1
        pos-y: {{ (loop.index0 // 4) * 9 + 8 }}
        pos-h: _2-3-bottom
        image-correction: off
    indycar-incar-all-{{car['car']}}-name:
      data: com/indycar/ts_ws/raw/overallResults/{{car['car']}}/lastName
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 2 }}
        pos-w: 10
        pos-y: {{ (loop.index0 // 4) * 9 + 8 }}
        pos-h: _2-3-bottom
    indycar-incar-all-{{car['car']}}-diff:
      data: com/indycar/ts_ws/raw/overallResults/{{car['car']}}/behindLeader
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 12 }}
        pos-w: 4
        pos-y: {{ (loop.index0 // 4) * 9 + 8 }}
        pos-h: _2-3-bottom
    indycar-incar-all-{{car['car']}}-steering:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{car['car']}}/steering
      mode: steering-text
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 0 }}
        pos-w: 2
        pos-y: {{ (loop.index0 // 4) * 9 + 9 }}
        pos-h: 1
    indycar-incar-all-{{car['car']}}-steering-icon:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{car['car']}}/steering
      mode: steering
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 2 }}
        pos-w: 1
        pos-y: {{ (loop.index0 // 4) * 9 + 9 }}
        pos-h: 1
    indycar-incar-all-{{car['car']}}-throttle:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{car['car']}}/throttle
      mode: length-bar-100-green
      style:
        bg: 80-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 3 }}
        pos-w: 4
        pos-y: {{ (loop.index0 // 4) * 9 + 9 }}
        pos-h: 1
    indycar-incar-all-{{car['car']}}-break:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{car['car']}}/breakPercentage
      mode: length-bar-100-red
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 7 }}
        pos-w: 4
        pos-y: {{ (loop.index0 // 4) * 9 + 9 }}
        pos-h: 1
    indycar-incar-all-{{car['car']}}-ptp:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{car['car']}}/otRemain
      style:
        bg: dark-violet
        text-align: right
        text-color: white
        text-size: "_2-3"
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 11 }}
        pos-w: 2
        pos-y: {{ (loop.index0 // 4) * 9 + 9 }}
        pos-h: 1
    indycar-incar-all-{{car['car']}}-speed:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{car['car']}}/vehicleSpeed
      mode: round
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (loop.index0 % 4) * 16 + 1 + 13 }}
        pos-w: 3
        pos-y: {{ (loop.index0 // 4) * 9 + 9 }}
        pos-h: 1
{% endfor %}
  data:
    com/indycar/streams:
{% for stream in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "14", "15", "16"] %}
      {{loop.index}}:
        liveurl: https://cdn-indycar-llc-01.akamaized.net/Content/HLS/Live/channel(Encoder{{stream}})/02.m3u8
{% endfor %}
  layer:
{% for car in incars %}
    indycar-incar-all-{{car['car']}}-video:
      components: indycar-incar-all-{{car['car']}}-video
      display: fade-in
      aspect: 16x9-sm
    indycar-incar-all-{{car['car']}}-header:
      components: indycar-incar-all-{{car['car']}}-pos,indycar-incar-all-{{car['car']}}-carnum,indycar-incar-all-{{car['car']}}-name,indycar-incar-all-{{car['car']}}-diff
      display: fade-in
      aspect: 16x9-sm
    indycar-incar-all-{{car['car']}}-telemetry:
      components: indycar-incar-all-{{car['car']}}-steering-icon,indycar-incar-all-{{car['car']}}-steering,indycar-incar-all-{{car['car']}}-throttle,indycar-incar-all-{{car['car']}}-break,indycar-incar-all-{{car['car']}}-ptp,indycar-incar-all-{{car['car']}}-speed
      display: fade-in
      aspect: 16x9-sm
{% endfor %}
  overlay:
    indycar-incar-all:
      layers: {% for car in incars %}indycar-incar-all-{{car['car']}}-video,indycar-incar-all-{{car['car']}}-header,indycar-incar-all-{{car['car']}}-telemetry,{% endfor %}
      display: fade-in
      aspect: 16x9-sm