header:
  version: 14.0.0
init:
  component:
    indycar-telemetry-{{carnum}}-pos:
      data: com/indycar/ts_ws/raw/overallResults/{{carnum}}/rank
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 1
        pos-y: 19
        pos-h: 1
    indycar-telemetry-{{carnum}}-carnum:
      data: com/indycar/ts_ws/raw/overallResults/{{carnum}}/carNumber
      mode: text
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
        display: show
        pos-x: 5
        pos-w: 1
        pos-y: 19
        pos-h: 1
    indycar-telemetry-{{carnum}}-name:
      data: com/indycar/ts_ws/raw/overallResults/{{carnum}}/lastName
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 6
        pos-w: 6
        pos-y: 19
        pos-h: 1
    indycar-telemetry-{{carnum}}-team:
      data: com/indycar/ts_ws/raw/overallResults/{{carnum}}/team
      style:
        bg: 70-black
        text-align: left
        text-color: white
        text-size: _2-3
        text-style: bold
        display: show
        pos-x: 12
        pos-w: 12
        pos-y: 19
        pos-h: 1
    indycar-telemetry-{{carnum}}-qualy-average:
      data: com/indycar/ts_ws/raw/overallResults/{{carnum}}/lastLapTime
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 26
        pos-h: 1
    indycar-telemetry-{{carnum}}-steering-icon:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/steering
      mode: steering
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 2
        pos-y: 21
        pos-h: 1
    indycar-telemetry-{{carnum}}-steering:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/steering
      mode: steering-text
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 22
        pos-w: 2
        pos-y: 21
        pos-h: 1
    indycar-telemetry-{{carnum}}-throttle:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/throttle
      mode: length-bar-100-green
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 22
        pos-h: 1
    indycar-telemetry-{{carnum}}-break:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/breakPercentage
      mode: length-bar-100-red
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 23
        pos-h: 1
    indycar-telemetry-{{carnum}}-rpm:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/engineSpeed
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 24
        pos-h: 1
    indycar-telemetry-{{carnum}}-gear:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/gear
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 25
        pos-h: 1
    indycar-telemetry-{{carnum}}-speed:
      data: com/indycar/ts_ws/raw/telemetryMessages/{{carnum}}/vehicleSpeed
      mode: round
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 26
        pos-h: 1
  data:
    com/indycar/indy500/on-track: "ON TRACK"
    com/indycar/indy500/qualifying: "Qualifying"
    com/indycar/indy500/telemetry/label: "Telemetry"
    com/indycar/indy500/telemetry/steering: "Steering"
    com/indycar/indy500/telemetry/throttle: "Throttle"
    com/indycar/indy500/telemetry/break: "Break"
    com/indycar/indy500/telemetry/rpm: "RPM"
    com/indycar/indy500/telemetry/gear: "Gear"
    com/indycar/indy500/telemetry/speed: "MPH"
    com/indycar/indy500/laps/warmup: "Warmup"
    com/indycar/indy500/laps/lap1: "Lap 1"
    com/indycar/indy500/laps/lap2: "Lap 2"
    com/indycar/indy500/laps/lap3: "Lap 3"
    com/indycar/indy500/laps/lap4: "Lap 4"
    com/indycar/telemetry/laps/average: "Average"
  layer:
    indycar-telemetry-{{carnum}}-header:
      components: indycar-telemetry-{{carnum}}-header,indycar-telemetry-{{carnum}}-pos,indycar-telemetry-{{carnum}}-badge,indycar-telemetry-{{carnum}}-carnum,indycar-telemetry-{{carnum}}-name,indycar-telemetry-{{carnum}}-team
      display: fade-in
      aspect: 16x9
    indycar-telemetry-{{carnum}}-time:
      components: indycar-telemetry-{{carnum}}-qualy-header,indycar-telemetry-{{carnum}}-qualy-warmup-label,indycar-telemetry-{{carnum}}-qualy-warmup,indycar-telemetry-{{carnum}}-qualy-lap1-label,indycar-telemetry-{{carnum}}-qualy-lap1,indycar-telemetry-{{carnum}}-qualy-lap2-label,indycar-telemetry-{{carnum}}-qualy-lap2,indycar-telemetry-{{carnum}}-qualy-lap3-label,indycar-telemetry-{{carnum}}-qualy-lap3,indycar-telemetry-{{carnum}}-qualy-lap4-label,indycar-telemetry-{{carnum}}-qualy-lap4,indycar-telemetry-{{carnum}}-qualy-average-label,indycar-telemetry-{{carnum}}-qualy-average
      display: fade-in
      aspect: 16x9
    indycar-telemetry-{{carnum}}-telemetry:
      components: indycar-telemetry-{{carnum}}-steering-icon,indycar-telemetry-{{carnum}}-steering,indycar-telemetry-{{carnum}}-throttle,indycar-telemetry-{{carnum}}-break,indycar-telemetry-{{carnum}}-rpm-label,indycar-telemetry-{{carnum}}-rpm,indycar-telemetry-{{carnum}}-gear-label,indycar-telemetry-{{carnum}}-gear,indycar-telemetry-{{carnum}}-speed-label,indycar-telemetry-{{carnum}}-speed
      display: fade-in
      aspect: 16x9
  overlay:
    indycar-telemetry:
      layers: indycar-telemetry-{{carnum}}-header,indycar-telemetry-{{carnum}}-time,indycar-telemetry-{{carnum}}-telemetry
      display: fade-in
      aspect: 16x9