header:
  version: 14.0.0
init:
  component:
{% for row in range(1,4) %}
{% for pos in range(0,12) %}
    indycar-tc-pos-{{pos + ((row-1) * 12)}}-rank:
      data: com/indycar/tc/timing_results/Item/{{pos + ((row-1) * 12)}}/rank
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 3 }}
        pos-w: 1
        pos-y: {{pos + 5}}
        pos-h: 1
    indycar-tc-pos-{{pos + ((row-1) * 12)}}-badge:
      data: com/indycar/tc/timing_results/Item/{{pos + ((row-1) * 12)}}/badge
      mode: image
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 4 }}
        pos-w: 1
        pos-y: {{pos + 5}}
        pos-h: 1
    indycar-tc-pos-{{pos + ((row-1) * 12)}}-carnum:
      data: com/indycar/tc_extra/{{pos + ((row-1) * 12)}}/endplatesmall
      mode: image
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: "1-no-pad"
        text-style: bold
        image-correction: "off"
        display: show
        pos-x: {{ (row-1) * 15 + 5 }}
        pos-w: 1
        pos-y: {{pos + 5}}
        pos-h: 1
    indycar-tc-pos-{{pos + ((row-1) * 12)}}-name:
      data: com/indycar/tc/timing_results/Item/{{pos + ((row-1) * 12)}}/lastName
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 6 }}
        pos-w: 7
        pos-y: {{pos + 5}}
        pos-h: 1
    indycar-tc-pos-{{pos + ((row-1) * 12)}}-diff:
      data: com/indycar/tc/timing_results/Item/{{pos + ((row-1) * 12)}}/gap
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 13 }}
        pos-w: 4
        pos-y: {{pos + 5}}
        pos-h: 1
{% endfor %}
{% endfor %}

  layer:
{% for row in range(1,4) %}
    indycar-tc-col-{{row}}:
      components: {% for pos in range(0,12) %}indycar-tc-pos-{{pos + ((row-1) * 12)}}-rank,indycar-tc-pos-{{pos + ((row-1) * 12)}}-badge,indycar-tc-pos-{{pos + ((row-1) * 12)}}-carnum,indycar-tc-pos-{{pos + ((row-1) * 12)}}-name,indycar-tc-pos-{{pos + ((row-1) * 12)}}-diff,{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
