header:
  version: 14.0.0
  dependencies:
    - filename: com/nascar/overlays/header

{% set stats = ["rank","carnum","name","gap","throttle","brake","fuel","fuel_label","pit_stops","pit_since"]%}
init:
  component:
{% for pos in range(1,37) %}
    nascar-tc-one-col-pos-{{pos}}-rank:
      data: com/nascar/tc/position/{{pos}}/running_position
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 1
        pos-w: 1
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-carnum:
      data: com/nascar/tc/position/{{pos}}/live_carId
      mode: text
      style:
        bg: 80-black
        text-align: center
        text-color: white
        text-size: "1-no-pad"
        text-style: bold
        image-correction: "off"
        display: show
        pos-x: 2
        pos-w: 1
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-name:
      data: com/nascar/tc/position/{{pos}}/driver/last_name
      style:
        bg: 75-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 7
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-gap:
      data: com/nascar/tc/position/{{pos}}/delta
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 10
        pos-w: 4
        pos-y: {{pos + 0}}
        pos-h: 1
        text-font: monospace
    nascar-tc-one-col-pos-{{pos}}-throttle:
      data: com/nascar/tc/position/{{pos}}/live_throttle
      mode: length-bar-100-green
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 4
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-brake:
      data: com/nascar/tc/position/{{pos}}/live_brake
      mode: length-bar-100-red
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 18
        pos-w: 2
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-fuel:
      data: com/nascar/tc/position/{{pos}}/live_fuel
      mode: length-bar-100-blue
      style:
        bg: 80-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-fuel_label:
      data: com/nascar/tc/position/{{pos}}/live_fuel
      mode: postfix-percent-sign-round-color
      style:
        bg: 90-black
        text-align: right
        text-color: white
        text-size: "_2-3"
        text-style: bold
        display: show
        pos-x: 24
        pos-w: 2
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-pit_stops:
      data: com/nascar/tc/position/{{pos}}/pit_stops_num
      mode: text
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: "1"
        text-style: bold
        display: show
        pos-x: 26
        pos-w: 1
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-pit_since:
      data: com/nascar/tc/position/{{pos}}/pit_stops_since
      mode: text
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: "1"
        text-style: bold
        display: show
        pos-x: 27
        pos-w: 2
        pos-y: {{pos + 0}}
        pos-h: 1
    nascar-tc-one-col-pos-{{pos}}-pit_time:
      data: com/nascar/tc/position/{{pos}}/pit_stops_last/pit_time
      mode: round-2
      style:
        bg: 90-black
        text-align: right
        text-color: white
        text-size: "_2-3"
        text-style: bold
        display: show
        pos-x: 29
        pos-w: 2
        pos-y: {{pos + 0}}
        pos-h: 1
{% endfor %}
  data:
    com/nascar:
      text:
        spacer: "/"
        gap: GAP
  layer:
    nascar-tc-one-col-driver:
      components: {% for pos in range(1,37) %}{% for stat in stats %}nascar-tc-one-col-pos-{{pos}}-{{stat}},{% endfor %}{% endfor %}
      display: fade-in
      aspect: 16x9-sm
  overlay:
    nascar-tc:
      layers: nascar-tc-one-col-driver
      display: fade-in
      aspect: 16x9
