<script src="https://cdn.jsdelivr.net/gh/zhiyuan-l/qrcodejs@master/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/twemoji@14.0.2/dist/twemoji.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@14.1.1/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uplot@1.6.30/dist/uPlot.iife.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/video.js@8.17.3/dist/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webrtc-adapter@9.0.1/out/adapter.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/meetecho/janus-gateway@1.2.3/html/janus.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
<script src="{{ url_for('static', filename='js/janus-live.js', version=version) }}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@wagnerflo/cc-icons@1.2.1/css/cc-icons.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons-wind.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@v6.2.0/css/flag-icons.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/SebastianAigner/twemoji-amazing/twemoji-amazing.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uplot@1.6.30/dist/uPlot.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@south-paw/typeface-minecraft@1.0.0/index.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@8.17.3/dist/video-js.min.css" />
