<meta charset="utf-8">

<link rel="icon" type="image/png" href="/static/local/smpte-icon.png">

<script src="{{ url_for('fontawesome.static', filename='js/all.min.js') }}" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.5/client-dist/socket.io.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@iconfu/svg-inject@1.2.3/dist/svg-inject.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/pako@2.1.0/dist/pako.min.js" crossorigin="anonymous"></script>

<script language="javascript">
    {% if fallback_mode | default(False) %}
        const fallback = true;
    {% else %}
        const fallback = false;
    {% endif %}
</script>

<script src="{{ url_for('static', filename='js/all.js', version=version) }}"></script>
