header:
  version: 14.0.0

{% set predictions = [{'name': 'a', 'submit': ['enzanki_ars', 'enzanki_alt']}] %}
{% set players = 2 %}
{% set matches = 16 %}

init:
  component:
{% for player in predictions %}
    mm-predict-players-{{player['name']}}:
      data: io/github/enzanki-ars/march-madness/players/{{player['name']}}/name
      custom-css: io/github/enzanki-ars/march-madness/players/{{player['name']}}/style
      style:
        bg: black
        display: show
        pos-x: {{ 11 + (loop.index0 * 3) }}
        pos-w: {{ player['submit'] | length }}
        pos-y: 2
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
{% set playerloop = loop %}
{% for bracket in player['submit'] %}
    mm-predict-bracket-{{bracket}}:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/icon
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: icon-font
      style:
        bg: black
        display: show
        pos-x: {{ 11 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 1
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
{% set bracketloop = loop %}
{% for match in range(0, matches) %}
    mm-predict-match-{{match}}-bracket-{{bracket}}:
      data: com/ncaa/mm/matches/{{match}}/picks/{{bracket}}/picked_team_icon
      custom-css: com/ncaa/mm/matches/{{match}}/picks/{{bracket}}/prediction_state/style
      mode: image
      style:
        bg: white
        display: show
        pos-x: {{ 11 + (playerloop.index0 * 3) + bracketloop.index0 }}
        pos-w: 1
        pos-y: {{ 4 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        image-correction: on
{% endfor %}
{% endfor %}
{% endfor %}

{% for match in range(0, matches) %}
    mm-predict-match-{{match}}-short:
      data: com/ncaa/mm/matches/{{match}}/short
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: 7
        pos-w: 4
        pos-y: {{ 4 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        image-correction: off
    mm-predict-match-{{match}}-away-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/1/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: 3
        pos-w: 1
        pos-y: {{ 4 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: "_1-3-no-pad"
        text-style: bold
        image-correction: on
    mm-predict-match-{{match}}-away-score:
      data: com/ncaa/mm/matches/{{match}}/teams/1/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: 4
        pos-w: 1
        pos-y: {{ 4 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        image-correction: off
    mm-predict-match-{{match}}-home-score:
      data: com/ncaa/mm/matches/{{match}}/teams/0/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: 5
        pos-w: 1
        pos-y: {{ 4 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        image-correction: off
    mm-predict-match-{{match}}-home-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/0/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: 6
        pos-w: 1
        pos-y: {{ 4 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: "_1-3-no-pad"
        text-style: bold
        image-correction: on
{% endfor %}

{% for match in range(0, 4) %}
    mm-predict-match-header-{{match}}-broadcast:
      data: com/ncaa/mm/matches/{{match}}/broadcaster/name
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: {{ 2 + (loop.index0 * 11 ) }}
        pos-w: 10
        pos-y: 2
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        image-correction: off
    mm-predict-match-header-{{match}}-short-line1:
      data: com/ncaa/mm/matches/{{match}}/short-line1
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: {{ 5 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: off
    mm-predict-match-header-{{match}}-short-line2:
      data: com/ncaa/mm/matches/{{match}}/short-line2
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: {{ 5 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 4
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: off
    mm-predict-match-header-{{match}}-away-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/1/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: {{ 2 + (loop.index0 * 11 ) }}
        pos-w: 2
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: on
    mm-predict-match-header-{{match}}-away-score:
      data: com/ncaa/mm/matches/{{match}}/teams/1/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: {{ 4 + (loop.index0 * 11 ) }}
        pos-w: "1_5"
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: "1_5"
        text-style: bold
        image-correction: off
    mm-predict-match-header-{{match}}-away-rank:
      data: com/ncaa/mm/matches/{{match}}/teams/1/seed
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: {{ 2 + (loop.index0 * 11 ) }}
        pos-w: 1
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: left
        image-correction: on
    mm-predict-match-header-{{match}}-away-name:
      data: com/ncaa/mm/matches/{{match}}/teams/1/nameShort
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: {{ 3 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: left
        image-correction: on
    mm-predict-match-header-{{match}}-home-rank:
      data: com/ncaa/mm/matches/{{match}}/teams/0/seed
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: {{ 11 + (loop.index0 * 11 ) }}
        pos-w: 1
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: right
        image-correction: on
    mm-predict-match-header-{{match}}-home-name:
      data: com/ncaa/mm/matches/{{match}}/teams/0/nameShort
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: {{ 7 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: right
        image-correction: on
    mm-predict-match-header-{{match}}-home-score:
      data: com/ncaa/mm/matches/{{match}}/teams/0/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: {{ 8 + (loop.index0 * 11 ) }}
        pos-w: "1_5-right"
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: "1_5"
        text-style: bold
        image-correction: off
    mm-predict-match-header-{{match}}-home-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/0/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: {{ 10 + (loop.index0 * 11 ) }}
        pos-w: 2
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: on
{% endfor %}

{% for bracket in range(0, players) %}
    mm-predict-overview-bracket-{{bracket}}-rank:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/rank
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      style:
        bg: black
        display: show
        pos-x: 3
        pos-w: 1
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
    mm-predict-overview-bracket-{{bracket}}-icon:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/icon
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      mode: icon-font
      style:
        bg: black
        display: show
        pos-x: 4
        pos-w: 1
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
    mm-predict-overview-bracket-{{bracket}}-points:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/totalPoints
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      style:
        bg: black
        display: show
        pos-x: 5
        pos-w: 2
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
    mm-predict-overview-bracket-{{bracket}}-upset:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/tplusTotalPoints
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      style:
        bg: black
        display: show
        pos-x: 7
        pos-w: 2
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
    mm-predict-overview-bracket-{{bracket}}-percent:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/percentile
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      mode: postfix-percent-sign
      style:
        bg: black
        display: show
        pos-x: 9
        pos-w: 3
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
    mm-predict-overview-bracket-{{bracket}}-remain:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/possiblePointsRemaining
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      style:
        bg: black
        display: show
        pos-x: 12
        pos-w: 3
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
    mm-predict-overview-bracket-{{bracket}}-upset-remain:
      data: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/upsetPossiblePointsRemaining
      custom-css: com/ncaa/mm/group/1453583/scoreboard/{{bracket}}/style
      style:
        bg: black
        display: show
        pos-x: 15
        pos-w: 3
        pos-y: {{ 24 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
    mm-predict-overview-bracket-header-points:
      data: io/github/enzanki-ars/march-madness/header/points
      style:
        bg: 90-black
        display: show
        pos-x: 5
        pos-w: 2
        pos-y: 23
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
    mm-predict-overview-bracket-header-upset:
      data: io/github/enzanki-ars/march-madness/header/upset
      style:
        bg: 90-black
        display: show
        pos-x: 7
        pos-w: 2
        pos-y: 23
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
    mm-predict-overview-bracket-header-percent:
      data: io/github/enzanki-ars/march-madness/header/percent
      style:
        bg: 90-black
        display: show
        pos-x: 9
        pos-w: 3
        pos-y: 23
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
    mm-predict-overview-bracket-header-remain:
      data: io/github/enzanki-ars/march-madness/header/remain
      style:
        bg: 90-black
        display: show
        pos-x: 12
        pos-w: 3
        pos-y: 23
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_5-pad_2-3"
        text-style: bold
    mm-predict-overview-bracket-header-upset-remain:
      data: io/github/enzanki-ars/march-madness/header/upset-remain
      style:
        bg: 90-black
        display: show
        pos-x: 15
        pos-w: 3
        pos-y: 23
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_5-pad_2-3"
        text-style: bold

  layer:
    mm-predict-header:
      components: {% for player in predictions %}mm-predict-players-{{player['name']}},{% for bracket in player['submit'] %}mm-predict-bracket-{{bracket}},{% endfor %}{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-overview:
      components: mm-predict-overview-bracket-header-rank,mm-predict-overview-bracket-header-icon,mm-predict-overview-bracket-header-points,mm-predict-overview-bracket-header-upset,mm-predict-overview-bracket-header-percent,mm-predict-overview-bracket-header-remain,mm-predict-overview-bracket-header-upset-remain,{% for bracket in range(0, players) %}mm-predict-overview-bracket-{{bracket}}-rank,mm-predict-overview-bracket-{{bracket}}-icon,mm-predict-overview-bracket-{{bracket}}-points,mm-predict-overview-bracket-{{bracket}}-upset,mm-predict-overview-bracket-{{bracket}}-percent,mm-predict-overview-bracket-{{bracket}}-remain,mm-predict-overview-bracket-{{bracket}}-upset-remain,{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-matches:
      components: {% for player in predictions %}{% for bracket in player['submit'] %}{% for  match in range(0, matches) %}mm-predict-match-{{match}}-bracket-{{bracket}},{% endfor %}{% endfor %}{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-matches-info:
      components: {% for  match in range(0, matches) %}mm-predict-match-{{match}}-short,mm-predict-match-{{match}}-away-icon,mm-predict-match-{{match}}-away-score,mm-predict-match-{{match}}-home-icon,mm-predict-match-{{match}}-home-score,{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-matches-header:
      components: {% for  match in range(0, matches) %}mm-predict-match-header-{{match}}-broadcast,mm-predict-match-header-{{match}}-short-line1,mm-predict-match-header-{{match}}-short-line2,mm-predict-match-header-{{match}}-away-icon,mm-predict-match-header-{{match}}-away-score,mm-predict-match-header-{{match}}-away-name,mm-predict-match-header-{{match}}-home-name,mm-predict-match-header-{{match}}-away-rank,mm-predict-match-header-{{match}}-home-rank,mm-predict-match-header-{{match}}-home-icon,mm-predict-match-header-{{match}}-home-score,{% endfor %}
      aspect: 16x9-sm
      aspect-pos: right
  overlay:
    mm-predict:
      layers: mm-predict-header,mm-predict-matches,mm-predict-matches-info,mm-predict-overview,mm-predict-matches-header
    mm-predict-mobile:
      layers: mm-predict-header,mm-predict-matches,mm-predict-matches-info,mm-predict-overview
  data:
    io/github/enzanki-ars/march-madness:
      header:
        points: Points
        upset: Upset
        percent: Precentile
        remain: Points Remain
        upset-remain: Upset Remain
      players:
        p: 
          name: P
          style:
            background-color: "#003973"
        a: 
          name: A
          style:
            background-color: "#00592d"
        k: 
          name: K
          style:
            background-color: "#730017"
