header:
  version: 14.0.0

{% set predictions = [{'name': 'a', 'submit': ['enzanki_ars']}] %}
{% set players = 2 %}
{% set matches = 14 %}

init:
  component:
{% for player in predictions %}
{% set playerloop = loop %}
{% for bracket in player['submit'] %}
    mm-predict-solo-bracket-{{bracket}}:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/icon
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: icon-font
      style:
        bg: black
        display: show
        pos-x: {{ 16 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 2
        pos-h: 2
        text-color: white
        text-size: 2
        text-style: bold
    mm-predict-solo-bracket-{{bracket}}-percent:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/percentile
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: postfix-percent-sign
      style:
        bg: black
        display: show
        pos-x: {{ 4 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 3
        pos-y: 2
        pos-h: 2
        text-color: white
        text-size: "_4-3"
        text-style: bold
        text-align: center
    mm-predict-solo-bracket-{{bracket}}-pts-header:
      data: io/github/enzanki-ars/march-madness/header/points
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 7 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 2
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: left
    mm-predict-solo-bracket-{{bracket}}-pts:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/totalPoints
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 9 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 2
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        text-align: right
    mm-predict-solo-bracket-{{bracket}}-upset-pts-header:
      data: io/github/enzanki-ars/march-madness/header/upset
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 7 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: left
    mm-predict-solo-bracket-{{bracket}}-upset-pts:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/tplusTotalPoints
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 9 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        text-align: right
    mm-predict-solo-bracket-{{bracket}}-pts-remain-header:
      data: io/github/enzanki-ars/march-madness/header/remain
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 11 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 4
        pos-y: 2
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: left
    mm-predict-solo-bracket-{{bracket}}-pts-remain:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/possiblePointsRemaining
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 14 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 2
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        text-align: right
    mm-predict-solo-bracket-{{bracket}}-upset-pts-remain-header:
      data: io/github/enzanki-ars/march-madness/header/upset-remain
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 11 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 4
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: left
    mm-predict-solo-bracket-{{bracket}}-upset-pts-remain:
      data: com/ncaa/mm/group/1453583/entries/{{bracket}}/upsetPossiblePointsRemaining
      custom-css: com/ncaa/mm/group/1453583/entries/{{bracket}}/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: {{ 14 + (playerloop.index0 * 3) + loop.index0 }}
        pos-w: 2
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        text-align: right
{% set bracketloop = loop %}
{% for match in range(0, matches) %}
    mm-predict-solo-match-{{match}}-bracket-{{bracket}}:
      data: com/ncaa/mm/matches/{{match}}/picks/{{bracket}}/picked_team_icon
      custom-css: com/ncaa/mm/matches/{{match}}/picks/{{bracket}}/prediction_state/style
      mode: image
      style:
        bg: white
        display: show
        pos-x: {{ 16 + (playerloop.index0 * 3) + bracketloop.index0 }}
        pos-w: 2
        pos-y: {{ 4 + loop.index0 * 2 }}
        pos-h: 2
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        image-correction: on
{% endfor %}
{% endfor %}
{% endfor %}

{% for match in range(0, matches) %}
    mm-predict-solo-match-{{match}}-short-line1:
      data: com/ncaa/mm/matches/{{match}}/short-line1
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: 12
        pos-w: 4
        pos-y: {{ 4 + loop.index0 * 2 }}
        pos-h: 1
        text-color: white
        text-size: "1"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-{{match}}-short-line2:
      data: com/ncaa/mm/matches/{{match}}/short-line2
      mode: text
      style:
        bg: 70-black
        display: show
        pos-x: 12
        pos-w: 4
        pos-y: {{ 5 + loop.index0 * 2 }}
        pos-h: 1
        text-color: white
        text-size: "_2-3"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-{{match}}-away-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/1/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: 4
        pos-w: 2
        pos-y: {{ 4 + loop.index0 * 2 }}
        pos-h: "1_5"
        text-color: white
        text-size: "_1-6"
        text-style: bold
        image-correction: on
    mm-predict-solo-match-{{match}}-away-score:
      data: com/ncaa/mm/matches/{{match}}/teams/1/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: 6
        pos-w: 2
        pos-y: {{ 4 + loop.index0 * 2 }}
        pos-h: 2
        text-color: white
        text-size: "1_5"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-{{match}}-away-rank:
      data: com/ncaa/mm/matches/{{match}}/teams/1/seed
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: 4
        pos-w: 2
        pos-y: {{ 5 + loop.index0 * 2 }}
        pos-h: "_5-bottom"
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        text-align: left
        image-correction: on
    mm-predict-solo-match-{{match}}-away-name:
      data: com/ncaa/mm/matches/{{match}}/teams/1/name6Char
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style-clear
      mode: text
      style:
        bg: clear
        display: show
        pos-x: 4
        pos-w: 2
        pos-y: {{ 5 + loop.index0 * 2 }}
        pos-h: "_5-bottom"
        text-color: white
        text-size: "_1-3-no-pad"
        text-style: bold
        text-align: right
        image-correction: on
    mm-predict-solo-match-{{match}}-home-score:
      data: com/ncaa/mm/matches/{{match}}/teams/0/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: 8
        pos-w: 2
        pos-y: {{ 4 + loop.index0 * 2 }}
        pos-h: 2
        text-color: white
        text-size: "1_5"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-{{match}}-home-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/0/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: 10
        pos-w: 2
        pos-y: {{ 4 + loop.index0 * 2 }}
        pos-h: "1_5"
        text-color: white
        text-size: "_1-6"
        text-style: bold
        image-correction: on
    mm-predict-solo-match-{{match}}-home-rank:
      data: com/ncaa/mm/matches/{{match}}/teams/0/seed
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      mode: text
      style:
        bg: black
        display: show
        pos-x: 10
        pos-w: 2
        pos-y: {{ 5 + loop.index0 * 2 }}
        pos-h: "_5-bottom"
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
        text-align: right
        image-correction: on
    mm-predict-solo-match-{{match}}-home-name:
      data: com/ncaa/mm/matches/{{match}}/teams/0/name6Char
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style-clear
      mode: text
      style:
        bg: clear
        display: show
        pos-x: 10
        pos-w: 2
        pos-y: {{ 5 + loop.index0 * 2 }}
        pos-h: "_5-bottom"
        text-color: white
        text-size: "_1-3-no-pad"
        text-style: bold
        text-align: left
        image-correction: on
{% endfor %}

{% for match in range(0, 4) %}
    mm-predict-solo-match-header-{{match}}-broadcast:
      data: com/ncaa/mm/matches/{{match}}/broadcaster/name
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: {{ 2 + (loop.index0 * 11 ) }}
        pos-w: 10
        pos-y: 2
        pos-h: "_2-3-bottom"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-header-{{match}}-short-line1:
      data: com/ncaa/mm/matches/{{match}}/short-line1
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: {{ 5 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 3
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: off
    mm-predict-solo-match-header-{{match}}-short-line2:
      data: com/ncaa/mm/matches/{{match}}/short-line2
      mode: text
      style:
        bg: 80-black
        display: show
        pos-x: {{ 5 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 4
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: off
    mm-predict-solo-match-header-{{match}}-away-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/1/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: {{ 2 + (loop.index0 * 11 ) }}
        pos-w: 2
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: on
    mm-predict-solo-match-header-{{match}}-away-score:
      data: com/ncaa/mm/matches/{{match}}/teams/1/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: {{ 4 + (loop.index0 * 11 ) }}
        pos-w: "1_5"
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: "1_5"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-header-{{match}}-away-rank:
      data: com/ncaa/mm/matches/{{match}}/teams/1/seed
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: {{ 2 + (loop.index0 * 11 ) }}
        pos-w: 1
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: left
        image-correction: on
    mm-predict-solo-match-header-{{match}}-away-name:
      data: com/ncaa/mm/matches/{{match}}/teams/1/nameShort
      custom-css: com/ncaa/mm/matches/{{match}}/teams/1/style
      style:
        bg: black
        display: show
        pos-x: {{ 3 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: left
        image-correction: on
    mm-predict-solo-match-header-{{match}}-home-rank:
      data: com/ncaa/mm/matches/{{match}}/teams/0/seed
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: {{ 11 + (loop.index0 * 11 ) }}
        pos-w: 1
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: right
        image-correction: on
    mm-predict-solo-match-header-{{match}}-home-name:
      data: com/ncaa/mm/matches/{{match}}/teams/0/nameShort
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: {{ 7 + (loop.index0 * 11 ) }}
        pos-w: 4
        pos-y: 5
        pos-h: "_2-3"
        text-color: white
        text-size: "_2-3-no-pad"
        text-style: bold
        text-align: right
        image-correction: on
    mm-predict-solo-match-header-{{match}}-home-score:
      data: com/ncaa/mm/matches/{{match}}/teams/0/score
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      style:
        bg: black
        display: show
        pos-x: {{ 8 + (loop.index0 * 11 ) }}
        pos-w: "1_5-right"
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: "1_5"
        text-style: bold
        image-correction: off
    mm-predict-solo-match-header-{{match}}-home-icon:
      data: com/ncaa/mm/matches/{{match}}/teams/0/icon-dark
      custom-css: com/ncaa/mm/matches/{{match}}/teams/0/style
      mode: image
      style:
        bg: black
        display: show
        pos-x: {{ 10 + (loop.index0 * 11 ) }}
        pos-w: 2
        pos-y: 3
        pos-h: 2
        text-color: white
        text-size: 1
        text-style: bold
        image-correction: on
{% endfor %}

  layer:
    mm-predict-solo-header:
      components: {% for player in predictions %}{% for bracket in player['submit'] %}mm-predict-solo-bracket-{{bracket}},mm-predict-solo-bracket-{{bracket}}-percent,mm-predict-solo-bracket-{{bracket}}-pts-header,mm-predict-solo-bracket-{{bracket}}-upset-pts-header,mm-predict-solo-bracket-{{bracket}}-pts,mm-predict-solo-bracket-{{bracket}}-upset-pts,mm-predict-solo-bracket-{{bracket}}-pts-remain-header,mm-predict-solo-bracket-{{bracket}}-upset-pts-remain-header,mm-predict-solo-bracket-{{bracket}}-pts-remain,mm-predict-solo-bracket-{{bracket}}-upset-pts-remain,{% endfor %}{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-solo-matches:
      components: {% for player in predictions %}{% for bracket in player['submit'] %}{% for  match in range(0, matches) %}mm-predict-solo-match-{{match}}-bracket-{{bracket}},{% endfor %}{% endfor %}{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-solo-matches-info:
      components: {% for  match in range(0, matches) %}mm-predict-solo-match-{{match}}-short-line1,mm-predict-solo-match-{{match}}-short-line2,mm-predict-solo-match-{{match}}-away-icon,mm-predict-solo-match-{{match}}-away-score,mm-predict-solo-match-{{match}}-away-rank,mm-predict-solo-match-{{match}}-away-name,mm-predict-solo-match-{{match}}-home-icon,mm-predict-solo-match-{{match}}-home-score,mm-predict-solo-match-{{match}}-home-rank,mm-predict-solo-match-{{match}}-home-name,{% endfor %}
      aspect: 9x16
      aspect-pos: right
    mm-predict-solo-matches-header:
      components: {% for  match in range(0, matches) %}mm-predict-solo-match-header-{{match}}-broadcast,mm-predict-solo-match-header-{{match}}-short-line1,mm-predict-solo-match-header-{{match}}-short-line2,mm-predict-solo-match-header-{{match}}-away-icon,mm-predict-solo-match-header-{{match}}-away-score,mm-predict-solo-match-header-{{match}}-away-name,mm-predict-solo-match-header-{{match}}-home-name,mm-predict-solo-match-header-{{match}}-away-rank,mm-predict-solo-match-header-{{match}}-home-rank,mm-predict-solo-match-header-{{match}}-home-icon,mm-predict-solo-match-header-{{match}}-home-score,{% endfor %}
      aspect: 16x9-sm
      aspect-pos: right
  overlay:
    mm-predict-solo:
      layers: mm-predict-solo-header,mm-predict-solo-matches,mm-predict-solo-matches-info,mm-predict-solo-matches-header
    mm-predict-solo-mobile:
      layers: mm-predict-solo-header,mm-predict-solo-matches,mm-predict-solo-matches-info
  data:
    io/github/enzanki-ars/march-madness:
      header:
        points: Points
        upset: Upset
        percent: Precentile
        remain: Pts Rem.
        upset-remain: Up. Rem.
      players:
        p: 
          name: P
          style:
            background-color: "#003973"
        a: 
          name: A
          style:
            background-color: "#00592d"
        k: 
          name: K
          style:
            background-color: "#730017"
