header:
  version: 14.0.0

{% set status_items = get_data_value('data/io/github/enzanki-ars/status/entries').split(',') %}

init:
  component:
{% for status_item in status_items %}
    enzanki-ars-status-{{status_item}}-icon:
      data: io/github/enzanki-ars/status/{{status_item}}/icon
      mode: svg
      style:
        bg: black
        display: show
        pos-x: 2
        pos-w: 1
        pos-y: {{ 2 + loop.index0 }}
        pos-h: 1
        image-correction: on
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    enzanki-ars-status-{{status_item}}-status:
      data: io/github/enzanki-ars/status/{{status_item}}/status/icon
      custom-style: io/github/enzanki-ars/status/{{status_item}}/status/bg_css
      mode: icon-font
      style:
        bg: black
        display: show
        pos-x: 3
        pos-w: 1
        pos-y: {{ 2 + loop.index0 }}
        pos-h: 1
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
  layer:
    enzanki-ars-status-items:
      components: {% for status_item in status_items %}enzanki-ars-status-{{status_item}}-icon,enzanki-ars-status-{{status_item}}-status,{% endfor %}
      aspect: 16x9
  overlay:
    enzanki-ars-status:
      layers: enzanki-ars-status-items
