header:
  version: 14.0.0
init:
  component:
{% for product in ["BTC-USD", "ETH-USD", "LTC-USD"] %}
    enzanki-ars-home-coinbase-{{product}}-name:
      data: com/coinbase/pro/real_time/{{product}}/product_id
      style:
        bg: 100-black
        display: show
        pos-x: {{ loop.index0 * 11 + 3 }}
        pos-w: 5
        pos-y: 24
        pos-h: 1
        border-top-left-radius: {{ loop.first | int }}
        border-top-right-radius: 0
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
    enzanki-ars-home-coinbase-{{product}}-price:
      data: com/coinbase/pro/market/{{product}}/ticker/price
      mode: prefix-dollar-sign-usd
      style:
        bg: 90-black
        display: show
        pos-x: {{ loop.index0 * 11 + 3 }}
        pos-w: 5
        pos-y: 25
        pos-h: 1
        border-top-left-radius: 0
        border-top-right-radius: 0
        text-align: right
        text-color: white
        text-font: monospace
        text-size: 1
        text-style: bold
    enzanki-ars-home-coinbase-{{product}}-diff:
      data: com/coinbase/pro/market/{{product}}/historical_1m_change_calc
      mode: postfix-percent-sign-round-2-color
      style:
        bg: 90-black
        display: show
        pos-x: {{ loop.index0 * 11 + 3 }}
        pos-w: 5
        pos-y: 26
        pos-h: 1
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: {{ loop.first | int }}
        text-align: right
        text-color: white
        text-font: monospace
        text-size: 1
        text-style: bold
    enzanki-ars-home-coinbase-{{product}}-graph:
      data: io/github/enzanki-ars/coinbase/{{product}}-blank
      custom-options: io/github/enzanki-ars/coinbase/{{product}}-parameters
      mode: chart-line-color-2-date
      style:
        bg: 100-black
        display: show
        pos-x: {{ loop.index0 * 11 + 8 }}
        pos-w: 6
        pos-y: 24
        pos-h: 3
        border-top-left-radius: 0
        border-top-right-radius: {{ loop.last | int }}
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
    enzanki-ars-home-coinbase-padding:
      data: io/github/enzanki-ars/blank
      style:
        bg: 90-black
        display: show
        pos-x: 36
        pos-w: 3
        pos-y: 25
        pos-h: 2
        border-top-left-radius: 0
        border-top-right-radius: 0
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
  data:
    io:
      github:
        enzanki-ars:
          blank: 
          coinbase:
{% for product in ["BTC-USD", "ETH-USD", "LTC-USD"] %}
            {{product}}-blank:
            {{product}}-parameters:
              color:
                y1: lightblue
              axis: 
                x:
                  show: false
                y:
                  show: false
              x-data: data/com/coinbase/pro/market/{{product}}/historical_1m/time
              y-data: data/com/coinbase/pro/market/{{product}}/historical_1m/change
{% endfor %}
  layer:
    enzanki-ars-home-coinbase:
      aspect: 16x9
      components: enzanki-ars-home-coinbase-padding,{% for product in ["BTC-USD", "ETH-USD", "LTC-USD"] %}enzanki-ars-home-coinbase-{{product}}-name,enzanki-ars-home-coinbase-{{product}}-price,enzanki-ars-home-coinbase-{{product}}-diff,enzanki-ars-home-coinbase-{{product}}-graph,{% endfor %}
