header:
  version: 14.0.0
{% set rounds = range(1, 31) %}
{% set start_y = 6 %}
init:
  component:
    csgo-gsi-round-wins-left-team:
      data: edu/osu/org/osubgc/scoreboard/name-short/home
      custom-style: edu/osu/org/osubgc/scoreboard/style/home-primary
      style:
        bg: '80-black'
        display: show
        skew: none
        border-top-left-radius: 1
        border-bottom-left-radius: 0
        pos-h: 1
        pos-w: 6
        pos-x: 1
        pos-y: {{start_y + 0}}
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
    csgo-gsi-round-wins-right-team:
      data: edu/osu/org/osubgc/scoreboard/name-short/away
      custom-style: edu/osu/org/osubgc/scoreboard/style/away-primary
      style:
        bg: '80-black'
        display: show
        skew: none
        border-top-left-radius: 0
        border-bottom-left-radius: 1
        pos-h: 1
        pos-w: 6
        pos-x: 1
        pos-y: {{start_y + 1}}
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
{% for round in rounds %}
    csgo-gsi-round-wins-{{round}}-sep:
      data: net/counter-strike/game-state/map/round_wins/{{round}}/sep
      mode: icon-font
      style:
        bg: {{'80-black' if round < 16 else '75-black'}}
        display: show
        skew: none
        border-top-right-radius: {{ 1 if loop.last else 0 }}
        border-bottom-right-radius: {{ 1 if loop.last else 0 }}
        pos-h: 2
        pos-w: 1
        pos-x: {{round + 6}}
        pos-y: {{start_y + 0}}
        text-align: center
        text-color: white
        text-size: "1-pad"
        text-style: bold
    csgo-gsi-round-wins-{{round}}-left:
      data: net/counter-strike/game-state/map/round_wins/{{round}}/left_icon
      custom-style: net/counter-strike/game-state/map/round_wins/{{round}}/left_color
      mode: icon-font
      style:
        bg: 'clear'
        display: show
        skew: none
        border-top-right-radius: 0
        pos-h: 1
        pos-w: 1
        pos-x: {{round + 6}}
        pos-y: {{start_y + 0}}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
    csgo-gsi-round-wins-{{round}}-right:
      data: net/counter-strike/game-state/map/round_wins/{{round}}/right_icon
      custom-style: net/counter-strike/game-state/map/round_wins/{{round}}/right_color
      mode: icon-font
      style:
        bg: 'clear'
        display: show
        skew: none
        border-bottom-right-radius: 0
        pos-h: 1
        pos-w: 1
        pos-x: {{round + 6}}
        pos-y: {{start_y + 1}}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% endfor %}
  layer:
    csgo-gsi-round-wins-layer:
      components: csgo-gsi-round-wins-left-team,csgo-gsi-round-wins-right-team,{% for round in rounds %}csgo-gsi-round-wins-{{round}}-sep,csgo-gsi-round-wins-{{round}}-left,csgo-gsi-round-wins-{{round}}-right,{% endfor %}
      display: show
      aspect: 1x1-sm
