header:
  version: 14.0.0

{% set sides = ['blue', 'red'] %}

init:
  component:
{% for side in sides %}
{% set outerloop = loop %}
{% for player in range(1, 6) %}
    lol-pickban-dawegg-{{side}}-ban-{{player}}:
      data: gg/dawe/draftlol/{{side}}Bans/{{player - 1}}
      mode: lol-champion-id
      style:
        bg: black
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ 24 + ((outerloop.index0) * (player * 2 + 1)) + ((outerloop.index0 - 1) * (player * 2 + 1)) }}
        pos-w: 2
        pos-y: 24
        pos-h: 2
    lol-pickban-dawegg-{{side}}-ban-name-{{player}}:
      data: gg/dawe/draftlol/{{side}}Bans/{{player - 1}}
      mode: lol-champion-id-name
      style:
        bg: black
        display: show
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        pos-x: {{ 24 + ((outerloop.index0) * (player * 2 + 1)) + ((outerloop.index0 - 1) * (player * 2 + 1)) }}
        pos-w: 2
        pos-y: 26
        pos-h: "_5"
        text-color: white
        text-style: bold
        text-size: "_1-3-no-pad"
        text-align: center
    lol-pickban-dawegg-{{side}}-pick-{{player}}:
      data: gg/dawe/draftlol/{{side}}Picks/{{player - 1}}
      mode: lol-champion-loading-id
      style:
        bg: black
        display: show
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        pos-x: {{ 24 + ((outerloop.index0) * ((player-1) * 4 + 3)) + ((outerloop.index0 - 1) * ((player) * 4 + 1)) }}
        pos-w: 4
        pos-y: 7
        pos-h: 8
    lol-pickban-dawegg-{{side}}-pick-name-{{player}}:
      data: gg/dawe/draftlol/{{side}}Picks/{{player - 1}}
      mode: lol-champion-id-name
      style:
        bg: black
        display: show
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        pos-x: {{ 24 + ((outerloop.index0) * ((player-1) * 4 + 3)) + ((outerloop.index0 - 1) * ((player) * 4 + 1)) }}
        pos-w: 4
        pos-y: 15
        pos-h: 1
        text-color: white
        text-style: bold
        text-size: "_2-3"
        text-align: center
{% endfor %}
{% endfor %}
    lol-pickban-dawegg-ban-title:
      data: edu/osu/org/osubgc/extra-info/lol/icon/bans
      mode: icon-font
      style:
        bg: dark-red
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        display: show
        skew: none
        pos-x: 24
        pos-w: 2
        pos-y: 24
        pos-h: 2
        text-size: 2
        text-align: center
    lol-pickban-dawegg-countdown:
      data: gg/dawe/draftlol/countdown_int
      style:
        bg: dark-green
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        display: show
        skew: none
        pos-x: 23
        pos-w: 4
        pos-y: 3
        pos-h: 2
        text-size: 2
        text-align: center
    lol-pickban-dawegg-phase:
      data: gg/dawe/draftlol/currentMode
      mode: text
      style:
        bg: dark-green
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        display: show
        skew: none
        pos-x: 23
        pos-w: 4
        pos-y: 2
        pos-h: 1
        text-size: "_2-3"
        text-align: center
  data:
    edu:
      osu:
        org:
          osubgc:
            league:
              icons:
                positions:
                  top: /static/gaming-icons/league-of-legends/svgs/lol-top.svg
                  middle: /static/gaming-icons/league-of-legends/svgs/lol-mid.svg
                  bottom: /static/gaming-icons/league-of-legends/svgs/lol-bot.svg
                  jungle: /static/gaming-icons/league-of-legends/svgs/lol-jungle.svg
                  support: /static/gaming-icons/league-of-legends/svgs/lol-support.svg
  layer:
    lol-pickban-dawegg-bans-title-layer:
      components: lol-pickban-dawegg-phase,lol-pickban-dawegg-countdown,lol-pickban-dawegg-ban-title
      display: show
      aspect: 16x9
{% for side in sides %}
    lol-pickban-dawegg-{{side}}-picks:
      components: {% for player in range(1, 6) %}lol-pickban-dawegg-{{side}}-pick-{{player}},lol-pickban-dawegg-{{side}}-pick-name-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    lol-pickban-dawegg-{{side}}-bans:
      components: {% for player in range(1, 6) %}lol-pickban-dawegg-{{side}}-ban-{{player}},lol-pickban-dawegg-{{side}}-ban-name-{{player}},{%endfor%}
      display: show
      aspect: 16x9
{% endfor %}
  overlay:
    lol-pickban-dawegg:
      display: show
      aspect: 16x9
      layers: lol-pickban-dawegg-bans-title-layer,{% for side in sides %}{% for pickbantype in ['ban', 'pick'] %}lol-pickban-dawegg-{{side}}-{{pickbantype}}s,{% endfor %}{% endfor %}
