<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - overlay List</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>Mixes</h4>
    <div class="card-columns" id="mix-list">

    </div>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        create_mix_list();
    };
</script>

</body>
</html>
