<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Restore List</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>Restore</h4>
    
    <button type="button" class="btn btn-success float-right"
            onclick="reload_restore_properties()">
        Reload Restore List
    </button>

    <hr/>

    <form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Restore Name</th>
                <th scope="col">Options</th>
                <th scope="col">Variables</th>
            </tr>
            </thead>
            <tbody>
            <style>
                .table .breadcrumb {
                    background-color: unset;
                }
                .table .breadcrumb-item {
                    padding-left: unset;
                }

                .table .breadcrumb-item::before {
                    padding-right: unset;
                }
            </style>

            {% for restore in restore_properties | sort(attribute='name') %}
                {% if restore.supported %}
                    <tr>
                        <th scope="row">
                            {% set restore_name_split = restore.name.split('/') %}
                            <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    {% for path_item in restore_name_split %}
                                        <li class="breadcrumb-item {% if loop.last %} active {% endif %}"><a href="/restore_list/{{ restore_name_split[0:loop.index] | join('/') }}">{{path_item}}</a></li>
                                    {% endfor %}
                                </ol>
                            </nav>
                        </th>
                        <td class="w-50">
                            {% if restore.has_init %}
                                <button type="button" class="btn btn-primary"
                                        onclick="restore_default('{{ restore.name }}')">
                                    Initialize
                                </button>
                            {% endif %}
                            {% for script in restore.scripts %}
                                <button type="button" class="btn btn-outline-info"
                                        onclick="restore('{{ restore.name }}', '{{ script.name }}')">
                                    Run '{{ script.name }}'
                                </button>
                            {% endfor %}
                        </td>
                        <td>
                            {% for variable_name, variable_curr in restore.vars.items() %}
                            <label class="form-label">{{ variable_name }}</label>
                            <input type="text" class="form-control" placeholder=" " value="{{ variable_curr }}"
                                    id="data-{{ restore.name }}-{{ variable_name }}-input"
                                    data-restorename="{{restore.name}}"
                                    data-restorevar="{{variable_name}}">
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script language="javascript">
    window.onload = function (e) {
        console.log("Ready to go!");
    };
</script>

</body>
</html>
