<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h3><i class="fas fa-user"></i> {{ current_user.username }}</h3>
    <p>
        To be implemented.
    </p>
</div>

</body>
</html>
