header:
  version: 14.0.0
init:
{% set input_buttons = ['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'mono', 'solo', 'mute'] %}
{% set output_buttons = ['mono', 'eq', 'mute'] %}
{% set start_y_pos_out = 7 %}
{% set start_y_pos_in = 14 %}
  component:
{% for input in range(0,8) %}
    {% set outer_loop = loop %}
    voicemeeter-potato-1x1-input-{{input}}-label:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/label
      style:
        bg: 80-black
        display: show
        pos-h: "_5-bottom"
        pos-w: 3
        pos-x: {{ 2 + (loop.index0 * 3) + (loop.index0 // 5)}}
        pos-y: {{ start_y_pos_in + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-1x1-input-{{input}}-gain-bar:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/percent
      mode: height-bar-100-voicemeeter-bottom
      style:
        bg: black
        display: show
        pos-h: 12
        pos-w: 1
        pos-x: {{ 2 + (loop.index0 * 3) + (loop.index0 // 5)}}
        pos-y: {{ start_y_pos_in + 1 }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
    voicemeeter-potato-1x1-input-{{input}}-gain-text:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/gain
      mode: round-1
      style:
        bg: 90-black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 3 + (loop.index0 * 3) + (loop.index0 // 5) }}
        pos-y: {{ start_y_pos_in + 12 }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% for input_button in input_buttons %}
    voicemeeter-potato-1x1-input-{{input}}-{{input_button}}:
      data: com/vb-audio/voicemeeter/potato/labels/{{input_button}}
      custom-style: com/vb-audio/voicemeeter/potato/input/{{input}}/{{input_button}}-style
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 3 + (outer_loop.index0 * 3) + (outer_loop.index0 // 5)}}
        pos-y: {{ start_y_pos_in + 1 + (loop.index0)}}
        border-style-top: voicemeeter-bgblue
        border-style-left: voicemeeter-bgblue
        border-style-right: voicemeeter-bgblue
        border-style-bottom: voicemeeter-bgblue
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% endfor %}
{% endfor %}

{% for output in range(0,8) %}
    {% set outer_loop = loop %}
    voicemeeter-potato-1x1-output-{{output}}-label:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/label
      style:
        bg: 80-black
        display: show
        pos-h: "_5-bottom"
        pos-w: 3
        pos-x: {{ 2 + (loop.index0 * 3) + (loop.index0 // 5) }}
        pos-y: {{ start_y_pos_out + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-1x1-output-{{output}}-gain-bar:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/percent
      mode: height-bar-100-voicemeeter-bottom
      style:
        bg: black
        display: show
        pos-h: 5
        pos-w: 1
        pos-x: {{ 2 + (loop.index0  * 3) + (loop.index0 // 5) }}
        pos-y: {{ start_y_pos_out + 1 }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
    voicemeeter-potato-1x1-output-{{output}}-blank:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/blank
      style:
        bg: 90-black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 3 + (loop.index0  * 3) + (loop.index0 // 5) }}
        pos-y: {{ start_y_pos_out + 1 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-1x1-output-{{output}}-gain-text:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/gain
      mode: round-1
      style:
        bg: 90-black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 3 + (loop.index0  * 3) + (loop.index0 // 5) }}
        pos-y: {{ start_y_pos_out + 5 }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% for output_button in output_buttons %}
    voicemeeter-potato-1x1-output-{{output}}-{{output_button}}:
      data: com/vb-audio/voicemeeter/potato/labels/{{output_button}}
      custom-style: com/vb-audio/voicemeeter/potato/output/{{output}}/{{output_button}}-style
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 3 + (outer_loop.index0 * 3) + (outer_loop.index0 // 5) }}
        pos-y: {{ start_y_pos_out + 5 - (output_buttons | length) + (loop.index0) }}
        border-style-top: voicemeeter-bgblue
        border-style-left: voicemeeter-bgblue
        border-style-right: voicemeeter-bgblue
        border-style-bottom: voicemeeter-bgblue
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% endfor %}
{% endfor %}
    voicemeeter-potato-1x1-label-input:
      data: com/vb-audio/voicemeeter/potato/types/input
      style:
        bg: 90-black
        display: show
        pos-h: "_5-top"
        pos-w: 25
        pos-x: 2
        pos-y: {{ start_y_pos_in + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-1x1-label-output:
      data: com/vb-audio/voicemeeter/potato/types/output
      style:
        bg: 90-black
        display: show
        pos-h: "_5-top"
        pos-w: 25
        pos-x: 2
        pos-y: {{ start_y_pos_out + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold

  data:
    com/vb-audio/voicemeeter/potato:
      types:
        input: Input
        output: Output
        output2: Output

  layer:
{% for input in range(0,8) %}
    voicemeeter-potato-1x1-input-{{input}}: 
      components: voicemeeter-potato-1x1-input-{{input}}-gain-bar,voicemeeter-potato-1x1-input-{{input}}-gain-text,voicemeeter-potato-1x1-input-{{input}}-label,{% for input_button in input_buttons %}voicemeeter-potato-1x1-input-{{input}}-{{input_button}},{% endfor %}
      display: show
      aspect: 1x1
{% endfor %}
{% for output in range(0,8) %}
    voicemeeter-potato-1x1-output-{{output}}: 
      components: voicemeeter-potato-1x1-output-{{output}}-gain-bar,voicemeeter-potato-1x1-output-{{output}}-gain-text,voicemeeter-potato-1x1-output-{{output}}-blank,voicemeeter-potato-1x1-output-{{output}}-label,{% for output_button in output_buttons %}voicemeeter-potato-1x1-output-{{output}}-{{output_button}},{% endfor %}
      display: show
      aspect: 1x1
{% endfor %}
    voicemeeter-potato-1x1-labels: 
      components: voicemeeter-potato-1x1-label-input,voicemeeter-potato-1x1-label-output
      display: show
      aspect: 1x1
  overlay:
    voicemeeter-potato-1x1: 
      layers: {% for input in range(0,8) %}voicemeeter-potato-1x1-input-{{input}},{% endfor %}{% for output in range(0,8) %}voicemeeter-potato-1x1-output-{{output}},{% endfor %}voicemeeter-potato-1x1-labels
      display: show
