header:
  version: 14.0.0
init:
{% set input_buttons = ['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'mono', 'solo', 'mute'] %}
{% set output_buttons = ['mono', 'eq', 'mute'] %}
{% set start_y_pos = 3 %}
  component:
{% for input in range(0,8) %}
    {% set outer_loop = loop %}
    voicemeeter-potato-input-{{input}}-label:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/label
      style:
        bg: 80-black
        display: show
        pos-h: "_5-bottom"
        pos-w: 4
        pos-x: {{ 2 + (loop.index0 * 4) + (loop.index0 // 5)}}
        pos-y: {{ start_y_pos + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-input-{{input}}-level-bar:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/level_percent
      custom-style: com/vb-audio/voicemeeter/potato/bg-style
      mode: height-bar-100-voicemeeter-bottom-level
      style:
        bg: black
        display: show
        pos-h: 10
        pos-w: 1
        pos-x: {{ 2 + (loop.index0 * 4) + (loop.index0 // 5)}}
        pos-y: {{ start_y_pos + 1 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    voicemeeter-potato-input-{{input}}-gain-bar:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/percent
      custom-style: com/vb-audio/voicemeeter/potato/bg-style
      mode: height-bar-100-voicemeeter-bottom
      style:
        bg: black
        display: show
        pos-h: 10
        pos-w: 1
        pos-x: {{ 3 + (loop.index0 * 4) + (loop.index0 // 5)}}
        pos-y: {{ start_y_pos + 1 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    voicemeeter-potato-input-{{input}}-gain-text:
      data: com/vb-audio/voicemeeter/potato/input/{{input}}/gain
      mode: round-1
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 2 + (loop.index0 * 4) + (loop.index0 // 5)}}
        pos-y: {{ start_y_pos + 11 }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% for input_button in input_buttons %}
    voicemeeter-potato-input-{{input}}-{{input_button}}:
      data: com/vb-audio/voicemeeter/potato/labels/{{input_button}}
      custom-style: com/vb-audio/voicemeeter/potato/input/{{input}}/{{input_button}}-style
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 4 + (outer_loop.index0 * 4) + (outer_loop.index0 // 5)}}
        pos-y: {{ start_y_pos + 1 + (loop.index0)}}
        border-style-top: voicemeeter-bgblue
        border-style-left: voicemeeter-bgblue
        border-style-right: voicemeeter-bgblue
        border-style-bottom: voicemeeter-bgblue
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% endfor %}
{% endfor %}

{% for output in range(0,8) %}
    {% set outer_loop = loop %}
    voicemeeter-potato-output-{{output}}-number:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/index
      style:
        bg: 80-black
        display: show
        pos-h: "_5-bottom"
        pos-w: 1
        pos-x: {{ 36 + ((loop.index0 % 4) * 3) }}
        pos-y: {{ start_y_pos + 0 + ((loop.index0 // 4) * 6) }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-output-{{output}}-label:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/label
      style:
        bg: 80-black
        display: show
        pos-h: "_5-bottom"
        pos-w: 2
        pos-x: {{ 37 + ((loop.index0 % 4) * 3) }}
        pos-y: {{ start_y_pos + 0 + ((loop.index0 // 4) * 6) }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-output-{{output}}-gain-bar:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/percent
      mode: height-bar-100-voicemeeter-bottom
      style:
        bg: black
        display: show
        pos-h: 5
        pos-w: 1
        pos-x: {{ 36 + ((loop.index0 % 4) * 3) }}
        pos-y: {{ start_y_pos + 1 + ((loop.index0 // 4) * 6) }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
    voicemeeter-potato-output-{{output}}-blank:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/blank
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 37 + ((loop.index0 % 4) * 3) }}
        pos-y: {{ start_y_pos + 1 + ((loop.index0 // 4) * 6) }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-output-{{output}}-gain-text:
      data: com/vb-audio/voicemeeter/potato/output/{{output}}/gain
      mode: round-1
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 37 + ((loop.index0 % 4) * 3) }}
        pos-y: {{ start_y_pos + 5 + ((loop.index0 // 4) * 6) }}
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% for output_button in output_buttons %}
    voicemeeter-potato-output-{{output}}-{{output_button}}:
      data: com/vb-audio/voicemeeter/potato/labels/{{output_button}}
      custom-style: com/vb-audio/voicemeeter/potato/output/{{output}}/{{output_button}}-style
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ 37 + ((outer_loop.index0 % 4) * 3)}}
        pos-y: {{ start_y_pos + 5 + ((outer_loop.index0 // 4) * 6) - (output_buttons | length) + (loop.index0) }}
        border-style-top: voicemeeter-bgblue
        border-style-left: voicemeeter-bgblue
        border-style-right: voicemeeter-bgblue
        border-style-bottom: voicemeeter-bgblue
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% endfor %}
{% endfor %}
    voicemeeter-potato-label-input:
      data: com/vb-audio/voicemeeter/potato/types/input
      style:
        bg: 90-black
        display: show
        pos-h: "_5-top"
        pos-w: 33
        pos-x: 2
        pos-y: {{ start_y_pos + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-label-output:
      data: com/vb-audio/voicemeeter/potato/types/output
      style:
        bg: 90-black
        display: show
        pos-h: "_5-top"
        pos-w: 12
        pos-x: 36
        pos-y: {{ start_y_pos + 0 }}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold
    voicemeeter-potato-label-output2:
      data: com/vb-audio/voicemeeter/potato/types/output2
      style:
        bg: 90-black
        display: show
        pos-h: "_5-top"
        pos-w: 12
        pos-x: 36
        pos-y: {{start_y_pos + 6}}
        text-align: center
        text-color: white
        text-size: "_5-no-pad"
        text-style: bold

  data:
    com/vb-audio/voicemeeter/potato:
      types:
        input: Input
        output: Output
        output2: Output
      bg-style: "background: linear-gradient(0deg, #1c2426 0%, #1c2426 55.55555%, #0b330e 55.55555%, #0b330e 66.66666%, #2e330b 66.66666%, #2e330b 79.16666%, #330000 79.16666%, #330000 83.33333%, #230b33 83.33333%, #230b33 100%)"

  layer:
{% for input in range(0,8) %}
    voicemeeter-potato-input-{{input}}: 
      components: voicemeeter-potato-input-{{input}}-level-bar,voicemeeter-potato-input-{{input}}-gain-bar,voicemeeter-potato-input-{{input}}-gain-text,voicemeeter-potato-input-{{input}}-label,{% for input_button in input_buttons %}voicemeeter-potato-input-{{input}}-{{input_button}},{% endfor %}
      display: show
      aspect: 16x9
{% endfor %}
{% for output in range(0,8) %}
    voicemeeter-potato-output-{{output}}: 
      components: voicemeeter-potato-output-{{output}}-gain-bar,voicemeeter-potato-output-{{output}}-gain-text,voicemeeter-potato-output-{{output}}-blank,voicemeeter-potato-output-{{output}}-number,voicemeeter-potato-output-{{output}}-label,{% for output_button in output_buttons %}voicemeeter-potato-output-{{output}}-{{output_button}},{% endfor %}
      display: show
      aspect: 16x9
{% endfor %}
    voicemeeter-potato-labels: 
      components: voicemeeter-potato-label-input,voicemeeter-potato-label-output,voicemeeter-potato-label-output2
      display: show
      aspect: 16x9
  overlay:
    voicemeeter-potato: 
      layers: {% for input in range(0,8) %}voicemeeter-potato-input-{{input}},{% endfor %}{% for output in range(0,8) %}voicemeeter-potato-output-{{output}},{% endfor %}voicemeeter-potato-labels
      display: show
